[2018-06-01 10:29] spikeekips opened #1 "CLI Wallet: Payment"

[2018-06-01 10:29] spikeekips opened #2 "CLI Wallet: List transaction history"
Like
[code]
will list the transaction and it's operations history.

[2018-06-01 10:29] spikeekips opened #3 "API: Account changes to event stream"
This api will produce the latest balance of account. If '[text/event-stream](https://www.w3.org/TR/2009/WD-eventsource-20090421/#processing-model)' header is set in request header, the node will continuously send the balance of data as response without disconnecting connection.

Basically the 'content-type' of response will be 'application/json' and the data of `BlockAccount` must be included.

[2018-06-01 10:29] spikeekips opened #4 "API: Transaction history -to event stream-"
(almost same with #3)

This api can be used to check how the transmitted transaction(from client) is finished,
* tx gets consensus successfully?
* or tx is failed because of some reason
---
* If tx gets consensus successfully, the response will have `BlockTransaction` data.
* If failed, the response will have `BlockTransactionHistory` data.

[2018-06-01 10:29] spikeekips opened #5 "API: Operations by account to event stream"
(almost same with #3 )

This api will produce the all the operations of each account. The account address can be set in path. The response will have 'BlockOperation' data.

[2018-06-01 10:29] spikeekips opened #6 "API: Transactions by account to event stream"
(almost same with #3 )

This api will produce the transactions of one account. The response will have 'BlockTransaction' data of account address.

[2018-06-01 10:29] spikeekips opened #7 "API: All transactions to event stream"
(almost same with #3 )

This will produce all the transactions. Using query string, the ordering can be set.

[2018-06-01 10:29] spikeekips opened #8 "API: Metrics to event stream"
(almost same with #3 )

The metric data will have,
* number of current ongoing ballots in each boxes
* validators
* connected validators
* etc.

[2018-06-01 10:29] spikeekips opened #9 "API: Node info"
The basic node information will be produced,
* node alias
* node status #10 #11
* public address
* endpoint
* validators
* connected validators(?)
* etc.

[2018-06-01 10:29] spikeekips opened #10 "API: Node status to event stream"
(almost same with #3 )
(similar to #9)

The node status will be produced thru event-stream

[2018-06-01 10:29] spikeekips opened #11 "Create node status: 'consensus', 'catchup' and 'booting'"
Node will get it's status:
* `consensus`: node is currently participating consensus process
* `catchup` : node is catch up the blocks
* `booting`: node is preparing to be consensus
* `terminating`: node is going to shutdown(#9)

[2018-06-01 10:29] spikeekips opened #12 "Test consensus for 'HTTP2Network'"

[2018-06-01 10:29] spikeekips opened #13 "Same source with boxes will be ignored"
Situation:
1. account, `a0` sent `tx0`
1. `tx0` is escalated to `SIGN`
1. `a0` sent new `tx1`
1. if `tx0` is not finished, the `tx1` will be ignored.

[2018-06-01 10:29] spikeekips opened #14 "Same target with 'SIGN'ed ballot in boxes will wait until finished"
Situation:
1. account, `a0` sent `tx0`, which has the target account, `a1`
1. `tx0` is escalated to `SIGN` state
1. account, `aX` sent `txX`, which has the same target, `a1`
1. `txX` will wait until `tx0` is finished

[2018-06-01 10:29] spikeekips opened #15 "Redesign 'Checker'"
Instead of using 'context', how about making `Checker` to be struct and value can be stored in properties.

[2018-06-01 10:29] spikeekips opened #16 "Limit the incoming ballot, only from known validators"
If unknown validator send ballot, the ballot will be ignored.

[2018-06-01 10:29] spikeekips opened #17 "Finished ballot will store the reason in 'BlockTransactionError'"
If the ballot is finished and failed to get consensus, the reason must be stored in `BlockTransactionError`

[2018-06-01 10:29] spikeekips opened #18 "Catchup process"
When new validator join a network, it will have no blocks, so the newbie should catch up all the blocks from other validators.

[2018-06-01 10:29] spikeekips opened #19 "Support 'HTTP-Problem' in API response"
The detailed specification of 'HTTP-Problem' can be found in https://tools.ietf.org/rfc/rfc7807.txt .

[2018-06-01 10:29] spikeekips opened #20 "Support 'LevelDB.Transaction' in `FinishTransaction`"
The way to use `LevelDB.Transaction` can be found at https://godoc.org/github.com/syndtr/goleveldb/leveldb#Transaction .

[2018-06-01 10:29] spikeekips opened #21 "Expired 'VotingResult' in 'VotingBox' must be moved to 'ReservedBox'"
If `VotingResult` is stayed too long(almost over 2 minutes) in `VotingBox`, it should be moved to `ReservedBox`

[2018-06-01 10:29] spikeekips opened #22 "Expired 'VotingResult' in 'WaitingBox' must be moved to 'ReservedBox'"
If `VotingResult` is stayed too long(almost over 2 minutes) in `WaitingBox`, (this means that it's ballot failed to be broadcasted), it should be moved to `ReservedBox`.

[2018-06-01 10:30] spikeekips opened #23 "Expired 'VotingResult' in 'ReservedBox' must be removed"
If `VotingResult` is stayed too long(almost over 2 minutes) in `ReservedBox`, it should be removed.

[2018-06-01 10:30] spikeekips opened #24 "New Command line option for setting the thresholds of 'SIGN' and 'ACCEPT'"
Please make to accept the 'threshold's for `SIGN` and `ACCEPT` in 'cmd/sebak/cmd/node.go'. The threshold is hardcoded at https://github.com/owlchain/sebak/blob/49a885f9e31675079e872aec698ffc0c672f3693/cmd/sebak/cmd/node.go#L269 .

[2018-06-01 10:30] spikeekips opened #25 "Throttling incoming transactions from client"
To prevent the network to be hanged out with massive incoming transaction from clients, node should throttle the incoming messages. For your information, the Stellar's horizon server uses https://github.com/PuerkitoBio/throttled .

[2018-06-01 10:30] spikeekips opened #26 "Graceful Stop"
Useful library: https://github.com/facebookgo/grace

[2018-06-01 10:30] spikeekips opened #27 "Modify 'README.md' for better readability"

[2018-06-02 05:21] spikeekips opened #28 "The records in 'BlockTransactionHistory' can be removed after a given time?"

[2018-06-02 05:21] spikeekips opened #29 "At booting status, check validity of entire data in storage"

[2018-06-02 05:21] spikeekips opened #30 "Compressing in transferred message"
Compressing the response body of API will be reduce the network traffic and latency. With #390 , the compressed data can be saved in cache, it will be more beneficial. For information, https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Encoding .

[2018-06-02 05:21] spikeekips opened #31 "Versioning 'Transaction', 'Ballot', etc."
The incoming messages like `Transaction`, `Ballot`, etc already have `Version` field, at this time in development we just leave it blank. We need the version management and versioning itself.

* How to manage version of messages
* How to make version(string)

[2018-06-02 05:21] spikeekips opened #32 "Check compatible version of incoming message"
Currently the `Transaction.H.Version` and `Ballot.H.Version` is empty, we should set up the versioning policy for these messages.

[2018-06-02 05:21] spikeekips opened #33 "Scaling by sharding"

[2018-06-02 05:21] spikeekips opened #34 "Support inflation"

[2018-06-02 05:21] spikeekips opened #35 "'Checkpoint' must not be made formerly, client can not guess the checkpoint of it’s transaction"

[2018-06-02 05:21] spikeekips opened #36 "Web wallet"
* Basically support main feature of current web wallet
* and password based 'secret seed' protection

[2018-06-02 05:21] spikeekips opened #37 "Dashboard and transaction browser"
* Transaction flow
* Network status
* Trace transaction, operation and account

[2018-06-02 05:21] spikeekips opened #38 "Monitoring network"

[2018-06-02 05:21] spikeekips opened #39 "Migration from Stellar tokennet to sebak tokennet"

[2018-06-03 23:11] #15 closed, assigned to spikeekips

[2018-06-03 23:24] spikeekips opened #41 "Support 'CircleCI'"

[2018-06-04 04:17] Geod24 opened #43 "Create a docker image to start a network"
It would be very useful for both testing and our users to have an almost 0-config image one can start to get a network up and running, and submit commands to it.

An example of such a setting would be https://github.com/stellar/docker-stellar-core

[2018-06-04 05:46] #41 closed, assigned to Geod24

[2018-06-04 08:44] Geod24 opened #46 "Provide a way to accept the list of validator via environment variables"
Currently all arguments can be provided via environment variable, with the notable exception of `--validator`.
Fixing that would simplify the docker process a bit.

[2018-06-05 02:39] anarcher opened #51 "CLI: Node info command interface"
Add node info command interface for #9

e.g. `sebak node info --endpoint=localhost:12345 (default: localhost)` ?

ps) IMHO, The cli can be useful  for monitoring and diagnostics. If this issue is not necessity or duplicated, remove or close  it  freely :-)

[2018-06-05 05:09] Geod24 opened #52 "Use `Amount` consistently for internal representation (& define it)"
We currently store monetary amount in a [string representation](https://github.com/owlchain/sebak/blob/8af0b03a82dae4f8ec3f9cd08b7be6ce58ffaec7/lib/block_account.go#L27-L31). In addition of being inefficient space wise, it forces conversion to/from string pretty frequently. To add insult to injury, we have an `Amount` type supposed to represent a monetary amount, which is converted to/from `uint64

[2018-06-05 06:01] spikeekips opened #54 "Change '--validator' value to be URL"
Requirement is so simple,

[code]
to
[code]

It will be more meaningful and intuitive like `--endpoint`.

[2018-06-05 06:24] #14 closed, assigned to spikeekips, sconeman

[2018-06-05 10:21] Charleslee522 opened #59 "To improve performance, keeping sources in VotingBox"
`SourceManager` manages a source list which has unique sources in the boxes.
The type of source list should be `map[/* Source */ string]bool` for checking uniqueness.
When a new ballot came, the source from the ballot is inserted to the list. Then, the ballot process finished, it deleted from the list.
While the ballot is in the list, new ballots from the same source are not processed.

It is rela

[2018-06-06 23:26] spikeekips opened #60 "Unreasonable 'Checkpoint` Validation"
When transaction stores, it updates the `Checkpoint` of target account. This causes problem that target account can not know his/her latest checkpoint when he/her tries to make new tranaction.

For example, there are 3 account, `a0`, `a1` and `a2`, each account has 1 BOS, and send payment transactions between each others.

| souce | description       | target  | `a2` balance   | `a2` checkpoint |

[2018-06-07 06:46] outsideris opened #61 "Machine readable generating keypair's output"
In stellar, generating keypair is anoying to launch multiple nodes especially in containers.

Currently generating keypair's output is:

[code]

It is hard to parse in a command line.

If it prints a format which is machine readable like:

[code]

It's much better to launch nodes in Docker, Docker compose or Kubernetes.

[2018-06-07 09:02] Geod24 opened #62 "sebak crash when no data is passed as body"
[code]

Node "response"
[code]

[2018-06-07 23:45] spikeekips opened #63 "Transaction Fee should be collected to 'Common Budget Account'"
In SEBAK, there are 2 special accounts,
- genesis account(most of blockchains does)
- common budget account

'Common budget account' of our BOScoin is unique feature, it's balance can be used for entire BOScoin network and our community, it's like [common goods](https://en.wikipedia.org/wiki/Common_good_(economics)).

When transaction is finished, it's fee will be collected to 'Common budget' acco

[2018-06-08 02:01] spikeekips opened #66 "CI failed at 'lib/node_runner_etc_test.go: cannot use initialBalance (type uint64)'"
[code]

[2018-06-08 02:51] outsideris opened #68 "A bot to check CLA sign"
Indeed, I working on it as my side project [here](https://github.com/outsideris/cla-checker).
It uses [probot](https://probot.github.io/) and we can install it as GitHub App.

I can complete it next week.

[2018-06-08 04:46] #43 closed, assigned to Geod24

[2018-06-08 04:48] #66 closed, assigned to spikeekips

[2018-06-08 06:44] outsideris opened #70 "Prepare open sourcing in bosnet"
- [x] change go import path
- [x] move the repo into bosnet
- [x] rewrite the definition of sebak clearly
- [x] apply CLA
- [x] rewrite usage on README.md

Please add anything to do.

[2018-06-08 06:53] #20 closed, assigned to spikeekips, sconeman

[2018-06-08 06:54] #13 closed, assigned to spikeekips, sconeman

[2018-06-08 06:54] #16 closed, assigned to spikeekips, Charleslee522

[2018-06-08 23:14] spikeekips opened #72 "Check `Transaction.H.Created` time is right"
The incoming transaction from client has a created time of it, `Transaction.H.Created`. The validation process for incoming transaction should check the `Created` is right time, compared with the time of validator itself.

We also consider the time difference or lag between validators, so we can set the time span, almost 5 or 10 seconds to compare the times between `Created` and validator system t

[2018-06-08 23:27] spikeekips opened #73 "'GetTransactionsByAccount` will be needed"
Currently to get all the transactions of it's source address is implemented, but to get the all the transactions related to the specific account, is not supported. #6 will need this feature.

[2018-06-08 23:45] spikeekips opened #74 "`sebakstorage.LevelDBBackend.GetRaw()` should return the 'ErrorStorageRecordDoesNotExist' error"
Currently `sebakstorage.LevelDBBackend.GetRaw()` returns the simple error when record does not exist, but to distinguish the error clearly, we need to define new error, `sebakerror.ErrorStorageRecordDoesNotExist`. if `GetRaw()` returns `leveldb.ErrNotFound` or `Has()` returns false, `sebakerror.ErrorStorageRecordDoesNotExist` will return.

[2018-06-09 08:08] #62 closed, assigned to spikeekips

[2018-06-12 06:33] anarcher opened #76 "Proposal : Using custom import path “blockchainos.org/sebak”?"
Go has a mechanism[1] for defining custom import paths by serving HTML meta tags with repository information. Sometimes, Using github import path (github.com/org/repo/...) bothers me. and it doesnt make easy to change repo location too.
[1]: https://golang.org/cmd/go/#hdr-Remote_import_paths

[2018-06-14 01:56] #52 closed, assigned to Geod24

[2018-06-14 06:20] outsideris commented on #76
Set up `https://boscoin.io/sebak/`.
Now it works.

[2018-06-14 06:20] #76 closed

[2018-06-14 10:39] outsideris commented on #68
We decided to use [CLA Assistant](https://cla-assistant.io/).

[2018-06-14 10:39] #68 closed

[2018-06-15 01:58] #70 closed

[2018-06-15 02:06] Geod24 commented on #63
What is the genesis account used for ? Could we somehow use it as the common budget account ?

[2018-06-15 02:27] anarcher commented on #74
@spikeekips @zzim2x Plz review it again~

[2018-06-15 03:35] spikeekips commented on #63
@Geod24 The concept of 'common budget account' of BOScoin is concrete, as I said in description and our whitepaper. The current tokennet(stellar) needs to create new account, 'common budget account' because genesis (block) account is widely opened.

Genesis account is for genesis block, and common budget will be for strategic purpose and transaction fee.

There are another issue we should concern,

[2018-06-15 03:39] spikeekips opened #83 "Distribution of the collected transaction Fee in common budget account"
(related to #63)

The current tokennet do distribute the collected transaction fee to the top owners of balance in every month. SEBAK also supports this feature,

* gathering transaction fees from common budget account during given period
* distribute transaction fees to the top owners, the number of owners we can set by settings

[2018-06-15 07:48] anarcher commented on #73
IMHO, If we have both of `GetBlockTransactionsBySource` and `GetBlockTransactionsByTarget`, we can use it to get all transactions related to  the specific account. What do you think about it?

[2018-06-15 07:59] spikeekips commented on #73
@anarcher : IMHO, If we have both of `GetBlockTransactionsBySource` and `GetBlockTransactionsByTarget`, we can use it to get all transactions related to  the specific account. What do you think about it?

Yes, it will be good. You mean, `GetTransactionsByAccount` will get the transactions, which the given address is source or target both, right? Anyway I missed `GetBlockTransactionsByTarget` :)

[2018-06-15 08:13] spikeekips opened #85 "`sebak generate` triggers `value out of range` error"
[code]

`sebak genesis` with the default balance, `1,000,000,000,000.0000000` occurs error, it is caused by `sebak.AmountFromString`. `strconv.ParseInt` should be changed to use `ParseUint`.

[2018-06-15 09:31] anarcher commented on #73
I mean that it is possible to fetch all transaction of the specific account using both `GetBlockTransactionsBySource` and `GetBlockTransactionsByTarget` even without `GetBlockTransactionsByAccount`.   :-)
Anyway `GetBlockTransactionsByAccount` can be convenient for using. But this function should handle two (source, target) iterators as one iterator. IMHO, It can be tricky. But if it is needed, I

[2018-06-15 09:32] outsideris opened #86 "Discussion: numeric error codes"
I found this code.
https://github.com/bosnet/sebak/blob/b01b08b1e8e4aae6a1d86ba5b64eccb3d1ae2277/lib/error/errors.go#L4-L11

Honestly, I'm skeptic for numeric error code. So, I want to discuss about that.

Why I dislike numeric error code is It is not meaningful. We don't know what error code is mean when we see the code. So, we look for what the code mean in above file.

[2018-06-15 09:57] spikeekips commented on #73
@anarcher I think `GetBlockTransactionByAccount` will be useful for watching all the transactions that are related to a given account. (https://www.stellar.org/developers/horizon/reference/endpoints/transactions-for-account.html)

Instead of using `BySource` and `ByTarget` at the same time, how about implement new model that has,
* key: 'bt-byaccount-`BlockTransaction.Source` or `BlockTransaction.

[2018-06-15 11:28] anarcher commented on #73
I will make it using this model :-) My concern for this model is that it could be duplication saving  but  it is a kind of index,it makes sense. Thanks :-)

[2018-06-17 11:11] spikeekips commented on #3
I wrote some proposal, inspired your `EventBroker'. https://github.com/spikeekips/sebak/compare/master...spikeekips:proposal-account-changes-event-stream . This branch uses  'github.com/GianlucaGuarini/go-observable' instead of your `EventBroker` because 'observable' is easy to use :)
I wish my code will help your work. :)

[2018-06-17 23:45] Charleslee522 opened #89 "Auto TLSkey generation when --tls options are empty"
When --tls-cert or --tls-key options are empty, the program automatically generates tls key and cert files.

[2018-06-18 00:16] Charleslee522 opened #91 "Running a single node without any validators for starter"
I think, running a single node is useful for starter. Because when he or she knows about basic blockchain(block, account, PoW, PoS, etc...) but quorum, he can run node quickly and check how it works.
I figure, this would be helpful for the user to join our project.

[2018-06-18 00:39] kfangw commented on #3
@spikeekips thanks spike~ it is very helpful.

[2018-06-18 07:40] Geod24 opened #97 "Ensure clean checkout builds in Docker"
@outsideris mentioned [here](https://github.com/bosnet/sebak/pull/82#discussion_r195370109) that `docker build .` on a clean checkout should just work.
The issue was that the slow build time inherent to `dep ensure` were killing any attempt to test with Docker. Any solution to this issue should take this into account.

One of the solution we could consider is to use volumes to mount the `vendor` d

[2018-06-18 08:01] outsideris commented on #97
As @anarcher said:

So, `dep` clone all git repository of our dependencies in `$GOPATH/pkg/dep/sources`. That is, `dep` download all git history rather than specific versions. We have some large git repository, so it is really slow.

[2018-06-18 08:14] Geod24 commented on #97
If only there was a sane way to do that, perhaps [built into git](https://git-scm.com/book/en/v2/Git-Tools-Submodules) 🤔

[2018-06-18 08:17] outsideris commented on #97
`dep` is idiot.

[2018-06-18 09:06] #85 closed

[2018-06-18 09:44] anarcher commented on #74
I will close it.

[2018-06-18 09:44] #74 closed

[2018-06-19 01:21] Charleslee522 opened #98 "Make checkpoint a struct"
Now, checkpoint type is `string` so when we want to use source or target, we have to call `ParseCheckpoint` method.
And checkpoint is used frequently, performance is important.
I think if we define the `Checkpoint struct` and define related methods then it would be helpful for both performance and code quality.

[code]

[2018-06-19 01:32] leejames00 commented on #98
If `Checkpoint` is struct, `Source` and `Target` types should be hash, not string.. am i right?

[2018-06-19 01:35] Charleslee522 commented on #98
@leejames00 It would be better :)

[2018-06-19 01:45] Geod24 opened #99 "Stop flooding /connect and use Keep-Alive instead"
We use HTTP2 and setup [keep-alive](https://github.com/bosnet/sebak/blob/bbed51cdeb85fb40a10d01c771e1a5889cd9bf99/lib/common/http2_client.go#L23-L26) but we keep flooding the `/connect` method every second or so.

The [handling](https://github.com/bosnet/sebak/blob/bbed51cdeb85fb40a10d01c771e1a5889cd9bf99/lib/node_runner.go#L201-L206) of the message is also [not used](https://github.com/bosnet/seb

[2018-06-19 02:19] anarcher commented on #98
Maybe it can be another approach... How about it?  But I am not sure that it makes to improve performance. `~_~`

[code]

[2018-06-19 02:20] outsideris commented on #98
What is another approach? I didn't get it.

[2018-06-19 02:21] #73 closed, assigned to anarcher

[2018-06-19 02:30] spikeekips commented on #99
@Geod24 Yeah, log messages is noisy. To check the connection is live, `Keep-Alive` seems not to be good enough, because if connection is dead, it will not be caught until idle timeout.

We can change to log only when first failure of connection.

[2018-06-19 02:31] astonshnam commented on #98
It would be better to name them `Source` and` Target`. Later, when we develop TC, we can implement other functions besides boscoin transactions.

[2018-06-19 02:34] anarcher opened #100 "Discuss: Handling `HTTP2LogOutput`"
Currently,  `HTTP2LogOuput(io.Writer)` make all access log of  HTTP handlers, and the log format is different than SEBAK Log format. And Especially `/connect` log make verbose.

[code]
Verbose logs can be decreased by #99 :-)

Discussion:
- Replace `goriila.CombinedLoggingHandler`  to Log15-compatibility CustomLoggingHandler
- Ignore logging `/connect` access log (by option or loglevel?)
    - We

[2018-06-19 02:50] anarcher commented on #98
I confused that ‘Source’ as SourceCheckpoint :-)

My approach is same as yours :-) haha

[2018-06-19 05:15] Charleslee522 commented on #18
Is there any order by transaction? If not, how could it be caught up partially? by @outsideris

[2018-06-19 05:16] Charleslee522 opened #101 "cli for generating an account"
by @anarcher

[2018-06-19 05:28] anarcher commented on #98
[code]

[2018-06-19 05:46] spikeekips commented on #18
@Charleslee522 @outsideris We need more discussion on catchup process. We can find the order of transaction by checkpoint.

[2018-06-19 05:49] spikeekips opened #102 "Making `Checkpoint` to 'struct'"
Originated from https://github.com/bosnet/sebak/pull/88#discussion_r196271125

[2018-06-19 06:21] #89 closed

[2018-06-19 06:27] spikeekips commented on #26
@anarcher At first, the reason for 'graceful restart' was that the node needed to be restarted to update new version or new validator list, or anything else to be applied new environments.

[2018-06-19 06:33] #60 closed

[2018-06-19 07:28] anarcher commented on #26
@Geod24 I agree with your opinion! :-)

IHMO, 'graceful restart' **without dropping any connections** (facebookgo/grace) is not suitable for node.

For changing validator list, we should stop and start a node with the new validator arguments.
At some time, If old node process and new node process tries to access same leveldb, one of them get a failure to connect.

I feel safe to stop and start a n

[2018-06-19 07:45] Charleslee522 opened #106 "Reporting code coverages in CI"
I think, code coverage is a good metric for code quality.
How about you?

[2018-06-19 07:52] Geod24 opened #107 "Unable to respond to an HTTP query from business code"
Currently, when setting up a new URL endpoint, one need to:
- [Add a context handler](https://github.com/bosnet/sebak/blob/79addca0b78f4d65e676bfe3398ee3a50b6ee18f/lib/network/http2_network.go#L232-L235)
- Write the [handler function](https://github.com/bosnet/sebak/blob/master/lib/network/http2_network_handler.go)
- Add [a message type](https://github.com/bosnet/sebak/blob/79addca0b78f4d65e676bfe

[2018-06-19 07:52] spikeekips commented on #26
@anarcher It will be unnecessary for receiving message from client, because it does not need to keep connection, and the other cases like 'event-stream' can be ignored. As you suggested, 'graceful stop' will be good.

[2018-06-19 07:53] outsideris opened #108 "Proposal: config file"
Currently, sebak supports CLI flags and environment variables.

If it supports config file, like YAML. it is better to maintain a sebak network.

[2018-06-19 07:55] outsideris commented on #18
As we understanding, there is no order of transactions across accounts. Right?

[2018-06-19 07:58] spikeekips commented on #18
@outsideris Across accounts? Hmm. Starting from genesis account, the new transaction from one account to the other can be chained and traceable, so I think we can order the transactions.

[2018-06-19 08:04] outsideris commented on #106
Agreed!
There are [Coveralls](https://coveralls.io/) and [Codecov](https://codecov.io/) as I known.

- Codecov is newer service than coveralls
- We can use coveralls free because sebak is open source.
- We should pay if we use codecov because codecov provide free plan only for persnal account.
- Effort for coverage is same. I think.

[2018-06-19 08:08] Charleslee522 commented on #106
@outsideris  I think Codecov is better because Tendermint use this :)

[2018-06-19 08:33] Geod24 commented on #106
It's free for organization too, it's just that you cannot use the organization account on codecov.

[2018-06-19 08:38] outsideris commented on #106
Oops. It's confused plan. Awesome.

[2018-06-19 08:46] outsideris commented on #18
hmm...

1. only one transaction of an account is processed at the same time
2. But, other transactions of other account is processed concurrently.

Right?  For Example

1. `A1` account sent `tx1` to `A2` account
1. `B1` account sent `tx2` to `B2` account
1. `tx1` and `tx2` sent same time
1. nodes make consensus both `tx1` and `tx2` at same time
1. so, one node can have `tx1` - `tx2` order and anot

[2018-06-19 08:52] spikeekips commented on #18
@outsideris As we discussed today, the validation of tx is done between only source and target, not checking by global something. In your case, the order of `tx1` and `tx2` will not be important in current impl.

[2018-06-19 08:55] outsideris commented on #18
But, it's important to catchup process.

[2018-06-19 08:58] spikeekips commented on #18
@outsideris Yeah, it will be easy to impl catchup if we can order the entire transaction.

[2018-06-19 08:59] Geod24 commented on #18
Looks like I missed this. Could you expand on this point ?

[2018-06-19 09:07] outsideris opened #111 "CI randomly failing with cache"
* [Failed job](https://circleci.com/gh/bosnet/sebak/149)
* [Passed job without cache](https://circleci.com/gh/bosnet/sebak/154)

I don't know why.  However, it's annoying.

It can be CI's cache problem.

[2018-06-19 10:33] outsideris commented on #111
It looks like timing issue, not cache.

[2018-06-19 10:56] spikeekips commented on #18
This was moved to https://github.com/bosnet/sebak/milestone/2 .

[2018-06-19 23:14] Charleslee522 commented on #102
@spikeekips How about closing this issue? Cause it is duplicated with #98 :)

[2018-06-19 23:15] spikeekips commented on #102
@Charleslee522 You already opened :)

[2018-06-19 23:15] #102 closed

[2018-06-20 00:37] spikeekips commented on #107
@Geod24 Most you commented, I agree. The current handling process for message(or ballot) requests relies on messaging channel, so it looks synchronous and I think we can simply make it better. But the other kind of requests, especially data-related API requests such like `/transaction` you pointed, it can be synchronous to response. This will be good example for your **wonders**, https://github.co

[2018-06-20 00:44] leejames00 commented on #9
Is `Consensus` intended for the nodes that have all (up to date) blockchain data ?
In that case, I think `synced` is better.

[2018-06-20 01:44] Geod24 commented on #107
It *has* to be synchronous, doesn't it

I'm not sure I understand what you mean here. It is asynchronous from the client's PoV: He sends a request and the return happens immediately, even before the message is fully processed.

[2018-06-20 02:09] kfangw commented on #4
If a client get `BlockTransaction` or `BlockTransactionHistory`, there is no more data to be sent to the client i think.
Then, the server should drop the connection right?
@spikeekips

[2018-06-20 02:09] outsideris commented on #111
To find this problem, I also will add TravisCI as @spikeekips suggestion.

[2018-06-20 02:31] kfangw commented on #5
There can be two alternatives.
1. send whole `BlockOperation`s to client. And If there is an event, send whole `BlockOperation`s again with newly updated `BlockOperation`
2. send whole and after that, send only newly updated `BlockOperation` in the stream

For the second strategy, I am not sure about this situation.
- What happens, update an item when iterate keys from leveldb with iterator functi

[2018-06-20 04:06] Geod24 commented on #101
One question that arose: Should validators be tied to an account. In other word, should you have the ability to start a validator with a public key that is not associated with an address ? I have a feeling we should not.

[2018-06-20 04:30] outsideris commented on #9
How about `consensus` to `consented` or `consenting`.
`consensus` is nouns, so it is confused about what it represents for.

[2018-06-20 04:59] Geod24 commented on #35
Can you provide more details ? Or is this a duplicate of https://github.com/bosnet/sebak/issues/60 ?

[2018-06-20 05:29] #24 closed

[2018-06-20 06:40] leejames00 commented on #21
Why are the `Message.Hash`es sorted in `BallotBox`? Will it be replaced by a `combining function`?

https://github.com/bosnet/sebak/blob/3cf6918f8c17ad4f8215c459ad00c2a4420ebb92/lib/ballot.go#L380

[2018-06-20 06:43] Charleslee522 commented on #21
@leejames00 Would you please let me know in detail about `combining function`?

[2018-06-20 06:49] leejames00 commented on #21
I was confused on why the `Message.Hash`es need to be sorted.
Because in SCP, the transaction sets are merged (by a combining function) into one message(or hash)... so if a combining function is implemented, there would be no need for sorting

[2018-06-20 06:51] Charleslee522 commented on #21
Aha, there is no `combining function` in sebak yet. All transactions are handled as they are.

[2018-06-20 06:59] leejames00 commented on #21
and also I was thinking about timeouts to `VotingResult` -- if the `VotingResult` should be moved from `VotingBox` to `ReservedBox` after 2minutes, I think the message hash should be mapped with time

for example,
[code]

or if there are other suggestions on implementing timeouts please comment :)

[2018-06-20 07:05] Charleslee522 commented on #21
If time is recorded, you have to check how long does it take periodically.
I figure, using [time.ticker](https://gobyexample.com/tickers) is better.

[2018-06-20 07:19] astonshnam commented on #21
I don't think I need to record time. After the message is moved to the `ReservedBox`, we don't have to check the time data in the message.

[2018-06-20 07:38] leejames00 commented on #21
@astonshnam but after 2 minutes in `VotingBox`, it should be moved to `ReservedBox. How do you check that the `VotingResult` is expired?

[2018-06-20 07:52] astonshnam commented on #21
@leejames00 However, a time check is only needed within the `VotingBox`. It is unnecessary to change the structure of the `BallotBox` because of the process in the `VotingBox`. I want to think about other ways.

[2018-06-20 07:53] leejames00 commented on #21
Aha I agree. I was thinking about other ways too

[2018-06-20 08:11] astonshnam commented on #21
What do you think about changing `BallotBox` to interface type?

[2018-06-20 08:14] astonshnam commented on #21
`Node` is also an interface type. As follows..
[code]

[2018-06-20 08:35] Charleslee522 commented on #21
I figure, we need the independent struct `BoxManager` or `ResultManager`
This struct can handle `Results` and `Boxes` validation, move hashes each other, etc...
We can discuss about it tomorrow in detail :)

[2018-06-20 22:37] spikeekips commented on #9
@outsideris @leejames00 I mean that `consensus` is the node can participate consensus process.

[2018-06-20 22:41] spikeekips commented on #5
@kfangw I think you already have answer :)

[2018-06-20 22:44] spikeekips commented on #31
https://github.com/bosnet/sebak/blob/d01dfb9f1f939ad5f1da19cdce8d413985031880/lib/ballot.go#L187-L188

It means type of `Message` https://github.com/bosnet/sebak/blob/d01dfb9f1f939ad5f1da19cdce8d413985031880/lib/common/message.go#L3
As you expected, `Ballot.T` always "ballot".

[2018-06-20 22:52] spikeekips commented on #4
If not in 'event-stream', connection should be stopped by server-side, but in 'event-stream', the server and client should stay put in connection and wait for newly added transactions, is it make sense?

[2018-06-20 23:14] spikeekips commented on #107
As back to the original questions, https://github.com/bosnet/sebak/pull/84/files#diff-bd766bea972617fac4dd98a713780a72R77 and https://github.com/bosnet/sebak/pull/84 will be good example to support to handle our business code.

[2018-06-21 01:04] Geod24 commented on #46
Did this get fixed ?

[2018-06-21 01:09] Charleslee522 commented on #21
I have an idea. I figure, if ticker is attached every ballot, then it is not that good for performance. So, It is better to check every 2 minute by saving snapshot. @astonshnam @leejames00

[2018-06-21 01:12] spikeekips commented on #46
@Geod24 Your previous #47 can handles `SEBAK_VALIDATORS`, right?

[2018-06-21 01:13] Geod24 commented on #46
Well not from Sebak itself, which is what this issue is about.

[2018-06-21 01:14] spikeekips commented on #46
Ah~ sorry, I missed.

[2018-06-21 01:18] leejames00 commented on #21
So do you mean checking the `VotingBox`, `WaitingBox`, and `ReservedBox` every 2 minutes? I think it's a good idea since the the `VotingResult` does not have to expire in "exactly" 2 minutes. A drawback could be a `votingResult` waiting for 3min59s before expiring to next box

[2018-06-21 01:18] Charleslee522 commented on #21
1. save current state(snapshot) and check validity(uniqueness of hash in boxes)
1. after 2 min, compare to previous snapshot and find target to move the other box
1. Repeat above

In the worst case, some ballot may take 4 min to move `WaitingBox` to `ReservedBox`. But this is not that big a deal.

[2018-06-21 01:19] Charleslee522 commented on #21
@leejames00 You fully understand my word :)

[2018-06-21 02:19] kfangw commented on #3
It is solved in this PR
https://github.com/bosnet/sebak/pull/84

[2018-06-21 02:19] #3 closed

[2018-06-21 02:22] kfangw opened #118 "API: Response format application/hal+json"
http://stateless.co/hal_specification.html

[2018-06-21 04:04] Geod24 commented on #118
That makes sense if we provide a RESTful API. Is that the intent ?

[2018-06-21 04:06] kfangw commented on #118
yeap. I intend to build a RESTful APIs.
But, after build a response as it is, I will change the response later.

[2018-06-21 04:29] Charleslee522 opened #120 "Question about BallotBoxes design"
@spikeekips
I think BallotBoxes type is not intuitive cause Results and WaitingBox(VotingBox, ReservedBox also) has duplicated meaning.

[code]

I guess you have considered this structure without Results, but I want to know why you designed it like above.

[code]

[2018-06-21 05:06] spikeekips commented on #120
@Charleslee522 I can not understand what you ask, please more details.

[2018-06-21 07:34] kfangw opened #122 "API: Paging support"
If there is a lots of data to be sent to client, it may be a burden to network.

We need an idea to support paging for regular API call and streaming call both.

[2018-06-21 07:36] Geod24 commented on #122
Something like https://developer.github.com/v3/guides/traversing-with-pagination/ ?

[2018-06-21 07:36] outsideris opened #123 "Proposal: use sequence id instead of checkpoint"
We should prove a concept of sequence that is enough to replace current checkpoint.

Below is summary
-------

Checkpoint consists of `Subtracted-Added` form. Now, we understand the concept of the checkpoint.

## Advantage
- We can check the balance fo the account because TX has a previous hash, which is a checkpoint.

## Limitations
- Only one TX by one account is processed at the same time. A us

[2018-06-21 07:38] kfangw commented on #122
yes, but i am not sure for streaming.
I will attach details when I am clear for this issue.

[2018-06-21 07:48] Geod24 commented on #123
So after much discussion it turns out that:
- Checkpoint was modeled after Stellar's sequence ID (which also uses an account model)
- The intent was to check the user have enough fund at the moment the transaction is issued
- This led to #60 , and thus we do not check the added part anymore because we cannot rely on it
- As a result, the added part does not provide any value as data in the blockch

[2018-06-21 08:02] outsideris commented on #118
What is better than just plain JSON.
It seems similar to HATEOAS.

[2018-06-21 08:27] leejames00 commented on #120
I think @Charleslee522  meant that

the below structure (with no `Results`) fully represents the `VotingResults` without the `Results` field.. which means `Results` is redundant

[2018-06-21 08:34] leejames00 commented on #27
close? or move to `After opening`?

[2018-06-21 09:22] kfangw commented on #11
Is it ongoing?

[2018-06-21 09:44] outsideris commented on #27
I think we can close it because REMEDME is simplified in 8a04ca4cae76c138fa6c14b43d4b9f81914cca94 .

[2018-06-21 09:44] #27 closed

[2018-06-22 00:14] Charleslee522 commented on #123
Several action items appeared as follows:
- In the sequence number model, make sure about how to validate the transaction.
- Fix the payment policy - Credit card vs Debit card(=check card)
- Let's show it in code @outsideris @Geod24 @zzim2x @Charles
- Split milestone for publishing @spikeekips

[2018-06-22 00:35] Charleslee522 commented on #11
Are the names of the status confirmed in #9?

[2018-06-23 19:14] anarcher commented on #21
Maybe I don't understand this issue, Is it(gist) right?
gist: https://gist.github.com/anarcher/b8e895f9793b87c1012f101f1bea6af7

[2018-06-25 01:10] astonshnam commented on #11
If I finish #124, I am going to start this.

[2018-06-25 04:54] Charleslee522 commented on #21
@anarcher @astonshnam
I figure it is better to talk about this issue ASAP. Cause we did duplicated works :)

fyi @spikeekips

[2018-06-25 05:05] Charleslee522 opened #126 "add `race_detector` into go test"
-race option should be added in running all go tests
https://golang.org/doc/articles/race_detector.html

When this option is added(`SEBAK_LOG_HANDLER=null go test ./... -race`), many tests are failed like below.
Solving these errors seems to be important in the long run.
[code]

[code]

[2018-06-25 05:52] kfangw opened #127 "Go observer queue"
Trigger implementation blocks source of the event.
Queue for make it async is needed

[2018-06-25 07:17] Geod24 opened #129 "Refactor the package hierarchy"
As brought up by @anarcher during our last meeting, the package hierarchy is currently quite flat and hard to make sense of.
One quick to spot offender is `block`. We have `block.go`, `block_operation.go`, `block_transaction.go`, etc... It would make much more sense if they were placed into a `block` subfolder.
This applies to a few other areas, like `node_runner`.
I plan to submit a PR to provide

[2018-06-26 02:31] outsideris commented on #111
We didn't find the cause and there is wasted time a lot.

If you encounter some random fail in CI, please paste the error message below as comments.

[2018-06-27 02:35] kfangw commented on #111
https://circleci.com/gh/bosnet/sebak/491
[code]

[2018-06-27 05:21] spikeekips opened #133 "CLI Wallet: Create Account"
(related to #1 )
To make new payment, `create-account` will be done before it.

[2018-06-27 05:46] Geod24 commented on #111
[code]

https://circleci.com/gh/bosnet/sebak/519

[2018-06-27 05:49] Geod24 commented on #133
Should an account have an initial balance ?

[2018-06-27 05:53] spikeekips commented on #133
@Geod24 Yes, the current minimum initial balance for new account is `0.1` BOS(`1000000`) in BOScoin tokennet.

[2018-06-27 06:30] #12 closed

[2018-06-28 00:50] spikeekips opened #137 "'TestStreaming'(api_test.go) failed"
[code]

[2018-06-28 00:52] kfangw commented on #137
@spikeekips which commit did you tested?

[2018-06-28 00:54] spikeekips opened #138 "'TestHTTP2NetworkXX' failed; it was caused by empty response"
[code]

[2018-06-28 00:55] kfangw commented on #137
TestStreaming is outdated name of the test function
Could you pull latest commit?
or please reset local branch to my branch(PR)?

[2018-06-28 00:57] spikeekips commented on #137
@kfangw I tested under the current latest master, 56f7adc584b351bcc5c95407747222cc8a8dfa33 .

[2018-06-28 00:58] spikeekips commented on #137
@kfangw Please let me know your PR :)

[2018-06-28 00:59] kfangw commented on #137
@spikeekips https://github.com/bosnet/sebak/pull/121

[2018-06-28 05:44] spikeekips commented on #138
This is caused, client send request before http2 server is ready. This can be easily patched.

[2018-06-28 07:46] #138 closed

[2018-06-28 07:50] kfangw commented on #111
[code]

[2018-06-28 07:57] #4 closed

[2018-06-28 08:15] kfangw commented on #111
[code]
https://circleci.com/gh/bosnet/sebak/719?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-06-28 08:21] Charleslee522 opened #144 "nil pointer dereference in voting.go:311"
[code]

[2018-06-28 08:22] Charleslee522 commented on #144
This is occured when running in circleci

[2018-06-28 08:31] #7 closed

[2018-06-28 08:32] #6 closed

[2018-06-28 08:32] #5 closed

[2018-06-28 08:34] kfangw commented on #10
It may duplicated with #9
If there is additional feature to be implemented, then dealt with #9

[2018-06-28 08:34] #10 closed

[2018-06-28 09:56] Charleslee522 commented on #144
When I added `Lock()` and `defer Unlock()` in all methods in VotingResult, no error is occurred.
So I guess, The reason was a VotingResult that was unexpectedly deleted.
There are three solutions I think.
1. Null checking everywhere in `VotingResult` methods.
1. Locking in all `VotingResult` methods.
1. Using the copied `VotingResult` object, not pointer.
[code]

[2018-06-29 00:15] Charleslee522 opened #146 "bug in running circleci"
[code]

[2018-06-29 01:33] Geod24 commented on #146
It is because your PR is not based on master. Your PR was based on https://github.com/bosnet/sebak/commit/dd30a470730017079ee9be32e2d63fd3cc3a0038 . The commit following this is https://github.com/bosnet/sebak/commit/20e4293354da32fce5d76f603f863de3c4112394 which change `Gopkg.lock`. We run `dep` as part of the build process, but its run on your branch instead of the merged state, which leads to t

[2018-06-29 03:59] Charleslee522 opened #147 "A consensus test(TestNodeRunnerPayment) is failed sometimes"
[code]
Failed only in circleci not in local.

[2018-06-29 04:09] Charleslee522 commented on #146
Do you think it is resolved if rebased?

[2018-06-29 04:10] Geod24 commented on #146
Yes

[2018-06-29 04:34] #146 closed

[2018-06-29 04:51] #144 closed

[2018-06-29 06:12] kfangw opened #150 "Consensus fail for payment transaction"
I am trying send coin via wallet.
bellow is my step

prepare docker image and containers
[code]

generate 3 key pairs
[code]

send 10000000 to 3 account
[code]

prepare another docker container to curl
[code]

in the docker container call the account api
[code]
==>
[code]

each account have balance 1000

now I tried send from 1->3
[code]
2->3
[code]

3->2
[code]

Check the balance again
[code]
==>

[2018-06-29 06:18] anarcher commented on #150
During my test,  nodes seem to like to stop when their get messages.
Is it only my condition?

[code]

[2018-06-29 07:20] Geod24 commented on #54
Done in #135

[2018-06-29 07:20] #54 closed

[2018-06-29 07:20] Geod24 commented on #46
Done in #135

[2018-06-29 07:20] #46 closed

[2018-06-29 07:21] Geod24 commented on #37
What would it look like ? A web interface ?

[2018-06-29 07:21] Geod24 commented on #35
I assume it was. Also, we have #123 now.

[2018-06-29 07:22] Geod24 commented on #38
Is that a sebak issue ? I would expect it to be another project.

[2018-06-29 07:23] Geod24 commented on #29
This issue could use a description as well.

[2018-06-29 07:54] #1 closed

[2018-06-29 07:54] spikeekips commented on #35
#123 is just proposal at this time. This issue still is valid for this code.

[2018-06-29 07:58] Geod24 commented on #35
So can you provide more details on what you mean by "not made formally" ?

[2018-06-29 08:05] spikeekips commented on #35
@Geod24 I mean, before sending transaction, client must get the latest checkpoint of it's account. Under the current checkpoint mechanism, the next checkpoint can be calculated.

[2018-06-29 08:06] spikeekips commented on #38
@Geod24 Yeah, it's just related issue.

[2018-06-29 08:06] #38 closed

[2018-06-29 08:36] outsideris commented on #133
Resolved by #93

[2018-06-29 08:36] #133 closed

[2018-06-29 08:43] outsideris commented on #146
Interesting.

[2018-06-29 08:49] outsideris commented on #37
If so(web), this should be included in this repo?

[2018-06-29 08:52] spikeekips commented on #37
If we will miss this issue, this can be removed from this repo.

[2018-06-29 08:53] outsideris commented on #37
This is related a kind of status page which we said about?

[2018-06-29 09:06] Geod24 commented on #37
Yeah that was my underlying question too. If it does, it really qualifies as a separate project.

[2018-06-29 09:21] outsideris opened #155 "Support HTTP"
Currently, sebak supports only HTTPS.
Because of that, a node must have cert files, and it is hard to handle for operating multiple nodes.
If sebak supports both HTTP and HTTPS, SREs can register certificates on load balancers and operate sebak node with HTTP. If so, SREs can automate updating certificates easily.

[2018-06-29 09:23] Geod24 commented on #155
I would add that, given the nature of a blockchain, HTTPS is superfluous:
- No private data is exchanged
- The data is public
- The certificates are not used for any auth

[2018-06-29 18:32] scottmatheina opened #156 "Go Test fail: TestHTTP2NetworkGetNodeInfo"
?   	github.com/bosnet/sebak/cmd/sebak	[no test files]
?   	github.com/bosnet/sebak/cmd/sebak/cmd	[no test files]
?   	github.com/bosnet/sebak/cmd/sebak/cmd/key	[no test files]
?   	github.com/bosnet/sebak/cmd/sebak/cmd/wallet	[no test files]
?   	github.com/bosnet/sebak/cmd/sebak/common	[no test files]
ok  	github.com/bosnet/sebak/lib	152.809s
ok  	github.com/bosnet/sebak/lib/common	0.503s
?   	g

[2018-06-29 22:04] kfangw commented on #150
Solved by #152

[2018-06-29 22:04] #150 closed

[2018-06-29 22:05] kfangw commented on #137
Solved by #121

[2018-06-29 22:09] kfangw commented on #147
There is a timing issue at this part.
https://github.com/bosnet/sebak/blob/master/lib/node_runner_payment_test.go#L48-L65

[2018-06-29 22:20] kfangw commented on #147
Same issue might exist in at all of node_runner_*_test
To prevent CI from failing test, this issue should be solved with higher priority.

[2018-06-29 22:22] kfangw commented on #111
We almost solve the issue.

i think only one left issue is this.
https://github.com/bosnet/sebak/issues/147

[2018-06-30 05:40] anarcher opened #158 "Test fail : TestSequentialUUIDWithSatori fails randomly with `circleci/golang:1.10`"
With `circleci/golang:1.10` on docker ,  The test fails randomly. (not macos).

Related to #111

[code]

[2018-07-01 21:41] spikeekips opened #161 "Noisy 'got connect' log messages"

[2018-07-01 22:10] spikeekips commented on #155
@outsideris 👍

I think I see the classic debate over HTTP vs HTTPS. Many people argued that HTTPS was only necessary for password-protected website, but I remember debate is over at this time. As we know, all the data of public blockchain is public in it's nature and no private data can be shared. But it true when we look at the data itself. We also should consider the communication between client

[2018-07-02 01:10] Charleslee522 opened #163 "Circleci go test error in TestNodeRunnerCreateAccount"
https://circleci.com/gh/bosnet/sebak/982?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link
[code]

[2018-07-02 03:03] Geod24 commented on #161
Related: https://github.com/bosnet/sebak/issues/100

[2018-07-02 03:04] Geod24 commented on #156
@scottmatheina : You might want to replace `github.com/bosnet/sebak` with `boscoin.io/sebak` everywhere. Your approach should work but can have unforeseen consequences.

[2018-07-02 03:12] scottmatheina commented on #156
Well it’s all a work in progress and i did my instructions weeks ago while in korea before testnet launch. I’ll give it a shot. I was told by jinhwanchoi to change github.com to boscoin.io so I’ll do that. thanks

Scott

[2018-07-02 03:12] Geod24 opened #164 "Provide docker build / binary releases of Sebak"
We open sourced testnet last week, but only provide instructions to build a node and a Dockerfile.
As there can be a host of unforeseen issues with it, I think it'll be better to provide both a tagged binary release and a docker container that people can just `pull`.
@outsideris any thoughts on this ?

[2018-07-02 04:14] anarcher commented on #164
I would like to use `bumpversion` and `govvv` for versioning release. https://anarcher.bitbucket.io/post/2017/12-05-release-with-bumpversion-govvv-drone/ (my english is so bad.. `'ㅅ'` )

[2018-07-02 07:03] Geod24 opened #166 "Add integration testts"
At the moment, we only have unit tests in the source folder.
It works great for testing the internal but it makes timing-dependent issues hard to test for (e.g. double spending attacks).
It also bypass anything related to mangling, so we cannot setup a fuzzer for example.

[2018-07-02 10:28] outsideris commented on #156
@scottmatheina  Can we close this?

[2018-07-02 10:33] scottmatheina commented on #156
Yes. I will reinstall and try again.

Scott

[2018-07-02 10:35] outsideris commented on #164
Agreed.
As @anarcher said. a taged binary release is good if we have version release. And we can automate it in CI.

@zzim2x already try to deploy docker image, but we can't build docker in Docker Hub, because of [this](https://github.com/bosnet/sebak/blob/master/Dockerfile#L10).

[2018-07-02 10:39] outsideris commented on #166
I didn't understand it. Could explain more details?

[2018-07-02 10:42] Geod24 commented on #166
Sorry I meant serialization, not mangling.
We don't have any test that checks that invalid JSON is rejected and does not, in fact, crash the node or trigger a wrong state.

[2018-07-02 10:43] outsideris commented on #166
Additionally, I feel current tests are slightly mixed in unit tests and integration test. Separating both is much better to debug and testing.

Also, in SRE, @zzim2x are preparing the e2e test. In short, if maintainer enters some command as comments like [k8s](https://prow.k8s.io/command-help), bot read the command and launch sebak network in our test kubernetes cluster for e2e test per PR.

[2018-07-02 10:50] #156 closed

[2018-07-02 11:39] Geod24 commented on #164
A simple fix would be `if [ ! -d vendor ]; then dep ensure -v; done`

[2018-07-02 12:32] zzim2x commented on #164
@Geod24 It would be good idea.

[2018-07-02 21:48] kfangw opened #168 "Storage for an account"
StateDB for data storage and Executor for Trust Contract.

StateDB
Requirements for StateDB
- Get/Set value of state of account. data structure is MPT(merkle patricia trie)
- Get/Set code, ...,
- Use appropriate encoding method.

[2018-07-02 21:49] kfangw opened #169 "Contract Executor"
Build a bridge between StateDB and Contract
- Contract code should be compiled to native object
- Contract code should not have any dependency to execution engine at compile time(except stub/interface)
- Executor can execute contract code by using only address and function name with arguments of the contract
- Executor have no dependency to data structure of StateDB

ContractStub
Contract should i

[2018-07-03 01:36] spikeekips opened #170 "Failed to filter same source in concurrent transaction from same source"
I found accidentally when running under docker. When sending 2 or more transactions at the (almost) same time, the consensus process stuck intermittently. The logs are,
[code]

According to the logs, the late received ballots after finished consensus added by `AddSource()`, because the current implementation does not know the finished ballot.

[2018-07-03 12:56] #11 closed

[2018-07-04 04:24] #59 closed, assigned to spikeekips

[2018-07-04 14:49] booeunsoeng opened #173 "Getting started page issue"
In getting started "sebak commands" page,  errors are occur when i try "sebak genesis" and "sebak node"  commands.

In this page, just write
`sebak genesis GDUGDDCHYCVOSHG6LI62OP7VQVBW65PMPKKLYL272RBO6QIYDTQTR6HN`

but when i tried this, this error is occur.
`boo@ubuntu:~/sebak/src/boscoin.io/sebak$ sebak genesis GDUGDDCHYCVOSHG6LI62OP7VQVBW65PMPKKLYL272RBO6QIYDTQTR6HN
error: invalid '--network-id

[2018-07-04 22:56] Charleslee522 commented on #17
@spikeekips Is this related with #23 ?
I mean, the expired ballot in reserved box is the finished and failed one, right?

[2018-07-05 03:20] spikeekips commented on #17
This issue describes that the failed finished transaction must be stored in `BlockTransactionError` with  the failed reason. The client can check whether the transaction it sent is successfully finished or not.

Yes, the expired ballots in reserved box also must be stored in `BlockTransactionError`.

[2018-07-05 06:19] spikeekips commented on #173
Thanks @booeunsoeng, [Deply Network](https://github.com/bosnet/sebak/wiki/Deploy-SEBAK-Network-At-First-Time) page was updated.

[2018-07-05 06:19] #173 closed

[2018-07-06 04:21] Charleslee522 commented on #166
@outsideris I want to join your talks as a guest. Because I'm interested in all kinds of testing :)

[2018-07-06 05:11] spikeekips commented on #123
Like #140 , there are already PR for this proposal, so I think this proposal can be proceeded in new branch for fast development.

[2018-07-06 05:46] outsideris commented on #166
@Charleslee522 Welcome!

[2018-07-09 01:55] Geod24 commented on #123
Given the concept of checkpoints is so spread in the code, going for another branch would lead to tons of conflicts, and that's not something I am very keen on. What would it take to get it accepted in master instead ?

[2018-07-09 02:21] Geod24 commented on #99
We can set a low timeout, to match the current behavior.

[2018-07-09 02:34] spikeekips commented on #123
@Geod24 Please share the complete concept of seq id to replace the current checkpoint. I suggest to use branch because I think the idea for seq id is still in development.

[2018-07-09 02:39] spikeekips commented on #99
Yes, it makes sense.

[2018-07-09 05:00] Charleslee522 opened #177 "Research `Tendermint`"
- [ ] Consensus Algorithm
- [ ] Block Structure
- [ ] Catch-up Process
- [ ] Prototyping

[2018-07-09 07:03] Charleslee522 opened #179 "Research `Hashgraph`"

[2018-07-09 07:03] Charleslee522 opened #180 "Research `Orbs`"

[2018-07-09 07:04] Charleslee522 opened #181 "Research `Theta`"

[2018-07-09 07:04] Charleslee522 opened #182 "Research `Nano`"

[2018-07-09 07:48] Charleslee522 opened #183 "Test"

[2018-07-09 07:58] #183 closed

[2018-07-10 02:30] outsideris opened #184 "Research "ONTology""

[2018-07-10 02:33] Charleslee522 commented on #184
👍 Oh, Avengers?

[2018-07-10 07:00] #184 closed

[2018-07-10 07:00] #182 closed

[2018-07-10 07:00] #181 closed

[2018-07-10 07:00] #180 closed

[2018-07-10 07:00] #179 closed

[2018-07-10 07:00] #177 closed

[2018-07-11 06:05] Charleslee522 commented on #106
resolved in #125

[2018-07-11 06:05] #106 closed

[2018-07-16 02:12] Charleslee522 opened #189 "Elect a block proposer(leader) by voting"
[WIP]

[2018-07-17 04:42] Geod24 opened #190 "SIGTERM aren't properly handled"
Currently, starting a node using Docker:
[code]
then trying to stop it using `SIGTERM`:
[code]
doesn't do anything, and the container gets killed after 10 seconds, which means the graceful stop feature isn't properly implemented. This is a blocker for coverage reporting in integrations tests.

[2018-07-17 13:45] #190 closed

[2018-07-19 05:54] #61 closed

[2018-07-24 01:27] Geod24 opened #194 "Trying to overdraft kills an account"
While writing the integration tests, I came accross this bug. If I try to overdraft from an account, the account gets stuck. Using the docker containerized network:

[code]

With the following variables:
[code]

[2018-07-25 01:33] Geod24 commented on #19
Given that:
- the APIs are still being developed
- this has little impact on the core of our product
- the ROI is pretty low

I moved this to the `MainNet` milestone

[2018-07-25 01:35] Geod24 commented on #2
Given that there is an HTTP interface for this, do we still want to expose it via CLI ?

[2018-07-25 01:43] Geod24 commented on #17
I would need some clarification on this:
- If the ballot is finished => This only applies to valid transactions, right ? The ones that pass all checks, including signature, account balance, etc...
- Does `BlockTransactionError` need to be shared with any other node ? Can one query it ?
- How often do we prune `BlockTransactionError`'s storage ?
- Do we use this data for anything ?

[2018-07-25 02:24] outsideris commented on #2
I think Most features of CLI will use HTTP API.
Why do you think it doesn't need to expose it?

[2018-07-26 01:47] Charleslee522 commented on #147
@kfangw What you commented will be solved in #163 :)

[2018-07-27 08:17] #163 closed

[2018-07-31 02:22] Geod24 opened #198 "Rejected transactions kill consensus"
- Start 3 nodes (standard docker setup)
- Kill one
- Send a valid transaction, e.g.:
[code]
=> Should fail
- Start the dead one
- Try to re-run the transaction: It fails
[code]

[2018-08-01 07:19] Charleslee522 opened #200 "Unittest for the new ISAAC"
ISAAC consensus protocol is changed and new unittest cases are needed for
- sharing transactions
- making block
- round
- proposer
- etc...

[2018-08-01 07:20] Charleslee522 opened #201 "Design documentation of the new ISAAC"
Document for explaining design of the new ISAAC consensus protocol

[2018-08-01 07:20] Charleslee522 opened #202 "Proposer selection function"
Every nodes in network must select the proposer by itself using the function below.

IsaacRound.go:CalculateProposer()

Input
- Connected node addresses
- Block Height
- Round

Output
- Proposer node address

[2018-08-01 07:23] Charleslee522 opened #203 "Transaction validation for the new ISAAC"
Validating every transactions in proposed block is needed.
It should validates,
- balance of source
- sequenceID
- base fee
- verify signature
- transaction hash
- etc...

[2018-08-01 08:27] Charleslee522 opened #204 "Changing checkpoint to sequenceID to defend replay attack"
The transaction has the Checkpoint to defend replay attack. But it could be changed to sequenceID of sender. Then, it would be efficient and simple.

[code]

[2018-08-01 23:51] Charleslee522 opened #205 "Transaction sharing without INIT voting"
The old version of ISAAC shared the transaction by transferring the INIT ballot voting of the existing ISAAC.
It was not good for performance and resource. So we need a better solution for transferring transactions.

[2018-08-02 05:22] Charleslee522 opened #209 "The limitation of the number of transactions in one proposed block"
In the current version of the new ISAAC, there is no limitation of the number of transactions in one block.
The whole transactions which is gathered in 2 seconds(It can be changed) will be included into the block. So, I guess, the limitation is needed.

[2018-08-02 05:31] Charleslee522 opened #210 "Modify the new ISAAC to match status of all nodes similarly"
All nodes propose and stack blocks at regular intervals. If there is no features to synchronize, the nodes in the network will have different timings when enough time goes through.
So we need some features to synchronize timing of nodes in the network.

[2018-08-02 06:47] Charleslee522 commented on #204
#203

[2018-08-03 01:28] Charleslee522 commented on #203
@spikeekips which features do you want to check for tx validation?

[2018-08-03 02:54] spikeekips commented on #203
@Charleslee522 The things you pointed is done by `Transaction.IsWellformed()`, so I try to add like these,

* check there are same source in the proposed transactions
* check source and target accounts exist
* check the total amount of transaction is valid
* etc.

[2018-08-03 03:36] Charleslee522 commented on #203
@spikeekips I want you to explain more about "check there are same source in the proposed transactions" please :)

[2018-08-03 03:38] spikeekips commented on #203
@Charleslee522 If there are 2 or more transactions from same source account in the proposed transactions, the first one will be considered as valid, the left will not be included in `ValidTransactions`.

[2018-08-03 05:02] Charleslee522 commented on #203
@spikeekips Why the second tx from the same source is invalid? If balance is enough and tx has no dependency with the first one, then isn't it ok.

[2018-08-03 05:53] cmcm2222 commented on #201
I think yesterday you showed to us. right??

[2018-08-03 05:55] cmcm2222 commented on #202
why don't you PR for New proposer ?
If do, it would be so helpful understand this issue. I guess.

[2018-08-03 05:55] Geod24 commented on #203
It's one or the other, but you cannot have both.
If we use sequence ids, they either have the same sequence ID (= replay) or one has sequence id `S` and the other `S + 1`.

[2018-08-03 06:31] Charleslee522 commented on #201
yes but we need to improve the document :)

[2018-08-03 06:53] kfangw commented on #168
It is being implemented on the private repo
https://github.com/owlchain/contract-prototype

[2018-08-03 06:54] kfangw commented on #169
It is being implemented on the private repo
https://github.com/owlchain/contract-prototype

[2018-08-03 08:31] Charleslee522 commented on #209
@cmcm2222 Exactly. From now, we have transaction pool and propose block with whole txs in the pool. To resolve this issue, picking top n txs in transaction pool is needed. I guess txs needs to be ordered by received time.

[2018-08-06 02:06] sconeman commented on #202
https://github.com/spikeekips/sebak/blob/d0e6cb4d79fbf9c25addacc7057f274dab6fa59a/lib/node_runner_round.go#L412
@spikeekips @Charleslee522 Is not `CalculateProposer()` already developed?

[2018-08-06 04:04] Charleslee522 commented on #202
@sconeman Oh, I guess so :) @spikeekips Already did it 👍

[2018-08-06 04:05] Charleslee522 commented on #202
@sconeman You could add unittest codes for `CalculateProposer()` :)

[2018-08-06 04:07] Charleslee522 opened #212 "API: Get transactions from proposer"
- Background
In the new SEBAK, it is not checked that all nodes have same transactions after sharing. Therefore, if some transactions in the proposed block are not included in the transaction pool, then it needs to request and receive that transactions from proposer.

- Source position to fix
node_runner_round_transaction_checker.go:50(CheckNodeRunnerHandleTransactionsGetMissingTransaction method)

[2018-08-06 04:08] sconeman commented on #202
@Charleslee522 OK I will.

[2018-08-06 07:49] sconeman commented on #205
@spikeekips A ballot state called `TXSHARE` was created. Is this right before `INIT`?

[2018-08-06 07:51] Charleslee522 commented on #205
@spikeekips @sconeman I already removed this state, but it has revived...
I'm going to check it again :)

[2018-08-06 07:58] sconeman commented on #205
@Charleslee522 Aha... So I will remove again.

[2018-08-06 08:29] cmcm2222 commented on #201
@Charleslee522  Do you have any ideas for doc modifying?
Or If possible, you can give me simple flow diagram that wrote in hand. then I will do.

[2018-08-06 08:32] sconeman commented on #201
@cmcm2222 @Charleslee522
@spikeekips has changed a lot. Maybe we should listen to his explanation.

[2018-08-06 08:37] cmcm2222 commented on #210
What about bring NTP server like as Stellar?

[2018-08-06 08:45] Charleslee522 commented on #205
@sconeman That's ok. I can handle it :)

[2018-08-06 09:05] Charleslee522 opened #214 "Some performance experiments"
I did an experience with
https://github.com/spikeekips/sebak/blob/new-proposer/lib/common/util_benchmark_test.go
The goal is,
1. to find out which is faster, `string slice` or `string map` when finding a string.
2. to determine which is faster, `string slice` or `string map` or `string map with hashing` when checking equality.

[code]

Result

The string map is faster than string slice. As big o n

[2018-08-06 09:06] Charleslee522 commented on #214
@spikeekips Please check when you review my commits.

[2018-08-06 09:09] Charleslee522 commented on #214
I'm going to change the file util_benchmark_test.go link after merging this source.

[2018-08-07 00:51] Charleslee522 opened #216 "The new ISAAC voting process(SIGN, ACCEPT)"
### Voting Process
Originally the new model will have 2 voting process,

* `SIGN`: voting for received Ballot from proposer
* `ACCEPT`: voting for confirmed Ballot of each validator

In `ACCEPT` state, validator will compare the voting result of the other validators with his/her voting result.

In #215, `SIGN` and `ACCEPT` voting process is not yet implemented. Therefore, it will be completed in w

[2018-08-07 01:45] sconeman commented on #214
It is a good approach.

[2018-08-07 01:59] Charleslee522 commented on #209
It had been implemented in https://github.com/bosnet/sebak/pull/215/files#diff-e33f7f460f666841210e11844c21d6abR21

[2018-08-07 08:34] kfangw opened #221 "`Value` Package"
- Define data types for contract
- (De)Serialization of the data types
- Conversion from the value to each contract execution engine, vice versa

[2018-08-07 08:38] kfangw opened #222 "`api` Package for contract"
- Define functions and wrapper functions for contract execution
- list up apis... like this https://github.com/owlchain/Plan/issues/38

[2018-08-07 09:25] anarcher opened #223 "Add Transaction Operations for contract (Deploy and Exec Code)"
- Add Transaction operations for contract code (Deploy and Exec)

[2018-08-07 09:26] sconeman commented on #202
I added test cases in `lib/node_runner_test.go`.

[2018-08-07 09:29] anarcher opened #224 "Propose new Ballot with stateRoot."
- For validating to change states from a block's transactions, The proposer make a hash called `stateRoot` from changed states.  (We need to figure out or decide for a better approach of `stateRoot` in near future.)

[2018-08-07 09:36] anarcher opened #225 "Validating transaction operations which has contract from proposed ballot"
Each node has to validate the transaction from a ballot and `stateRoot` from this ballot.
So every node executes the contract codes in transaction's operation and makes a `stateRoot` as the result.
And If it is ok, every node will change the states from this ballot's transactions and will make a block.

[2018-08-07 09:52] anarcher opened #226 "Add CLI for deploy and exec contract code"

[2018-08-08 05:11] #169 closed

[2018-08-08 05:11] #168 closed

[2018-08-08 06:39] sconeman commented on #200
testcases of `calculating proposer` is already done.

[2018-08-08 06:55] Charleslee522 commented on #201
@cmcm2222 @spikeekips @spikeekips @Geod24 @sconeman @kyehyukahn
Please review this page https://github.com/bosnet/sebak/wiki/How-the-consensus-protocol-works and feel free to change it.

[2018-08-08 06:59] Charleslee522 commented on #210
@cmcm2222 Sorry, I changed "time" to "timing" in summary. As we said, "time" issue will be handled in system level.

[2018-08-08 07:03] sconeman commented on #201
@Charleslee522 So Does ISAAC have timers by the ballot state?

[2018-08-08 07:09] Charleslee522 commented on #201
@sconeman It should be, but not yet. Only TimeoutExpireRound(10 sec) is now.

[2018-08-08 07:13] sconeman commented on #201
@Charleslee522 In `ACCEPT` → `ALL-CONFIRM` chapter,

I think it is more good that this part is moved to `SIGN`  → `ALL-CONFIRM` chapter.
Because the description of `SIGN` is below.

[2018-08-08 07:15] Charleslee522 commented on #201
@sconeman You're right. Thanks :)

[2018-08-08 07:57] Charleslee522 commented on #201
@cmcm2222 @spikeekips @spikeekips @Geod24 @sconeman @kyehyukahn
I changed [design doc](https://github.com/bosnet/sebak/wiki/How-the-consensus-protocol-works), does it make sence?
@spikeekips How about voting without voting hole? I can assume the design that each node only votes when it agree with the proposed block.

[2018-08-09 07:01] Charleslee522 commented on #201
@spikeekips
@Geod24 has a question. Why does a block have only valid transactions? Let's talk about it in this issue by comment :)

[2018-08-09 07:01] spikeekips commented on #201
If node does not agree to the proposed ballot, this node will broadcast the no voting ballot, so the other node can determine the proposed ballot is over threshold by yes voting, excluding no voting. If no voting is not broadcasted, the other nodes can not know.

[2018-08-09 07:10] Charleslee522 commented on #201
@spikeekips @Geod24 I misunderstood the voting ballot design.
Each node broadcasts the ballot with all transactions but only valid transactions are included.

[2018-08-09 07:14] spikeekips commented on #201
@Charleslee522 @Geod24 Please describe more details :)

[2018-08-09 07:17] Charleslee522 commented on #201
@spikeekips @Geod24 Oh, I should change the sentence.

Why does a voting ballot have whole transactions? Not only valid transactions?

[2018-08-09 07:25] spikeekips commented on #201
We can think this situation,

1. 3 nodes: A, B, C
2. the proposer node, A proposed the proposed ballot
3. one node, B received the proposed ballot without problem,
4. but the other node, C failed to receive the proposed ballot with some reason
5. C received the voted ballot from B

If the voted ballot in step 5 does not have the original proposed ballot from A, the node, C can not validate the vot

[2018-08-09 07:36] Geod24 commented on #201
I'm not sure I follow. @Charleslee522 question was about transactions, not ballot.
But that seems to be a non-issue, since it's all come down from a misunderstanding, as far as I can see.

So let me rephrase the question: What does a node do when it receives an invalid transaction ?

[2018-08-09 07:37] sconeman commented on #201
@spikeekips I did not understand well. I understand that your words are not about the `invalid transactions` about `missed proposed ballots`, right?

[2018-08-09 07:53] spikeekips commented on #201
To clarify your question, 'invalid' transaction is not 'not well-formed' transaction. If the transaction,
* has bad signature
* unmarshal failed
* has under base fee
* zero amount

I call this kind of transaction is 'not-wellformed' transaction, not 'invalid' transaction. The invalid transaction means not-valid like,
* has unknown checkpoint
* the source account has under balance
* there is no tar

[2018-08-09 08:09] Geod24 commented on #201
@spikeekips : Thanks for the clarification, that vocabulary makes sense.
So if a [malformed](https://www.merriam-webster.com/dictionary/malformed) (not well formed) transaction is received, they are ignored, which makes sense.

What about transactions which are well formed but not valid ?

[2018-08-09 08:12] spikeekips commented on #201
@Geod24 Not valid transactions will be validated by proposer and only the valids will be in ‘ValidTransactions’ and invalids will be listed in ‘Transactions’ with valids.

[2018-08-10 07:46] Charleslee522 opened #237 "If the transaction pool is empty, then the proposer proposes nil block"
The `nil block` is a block with no transaction.

The `SEBAK` network must confirm the new block periodically(about 5 sec). Because the block confirmation is related with the freezing reward. The freezing reward must be stored constantly based on the block height.
Therefore even if the tx pool is empty, the `nil block` must be confirmed.

[2018-08-11 05:02] spikeekips commented on #209
With this [`MaxTransactionsInBallot`](https://github.com/spikeekips/sebak/blob/new-proposer/lib/node_runner.go#L28), we need to check the number of transactions in the proposed ballot is over it.

[2018-08-13 00:36] Charleslee522 opened #239 "Modify the new ISAAC to match status of all nodes similarly"
Same as #210

[2018-08-13 00:39] #239 closed

[2018-08-13 00:50] Charleslee522 commented on #210
When the network is running for a long time, the state of all nodes should be at most equal.
Surely, nodes status could be matched from catch-up process, but being frequently catch-up condition is no good to network performance.
Therefore, to match status of all nodes similarly, I want to add features into the design as follow,
1. When the node receive `INIT` ballot, if it is invalid, it broadcast

[2018-08-13 02:02] Geod24 commented on #210
I assume you meant to say "mostly equal", as in equal most of the time. Almost equal wouldn't be a good thing ;)

We don't have evidence of that.

If a node receives a ballot that is "too high" for it, I don't see how it can vote about it anyway ?

[2018-08-13 02:13] Charleslee522 commented on #210
@Geod24

Thanks

Yes but we can predict easily. For example, when the node get into catch-up, then it needs to check voting state, height and receive new block, and sync ...
So I think the node should be in catch-up as little as possible.

I cannot understand what "too high" means :)

[2018-08-13 03:57] Charleslee522 commented on #210
@Geod24

Exactly.
I mean, for example, let's assume that
1. a node loses Ballot(Height:1, `SIGN`) from all nodes because of network issue.
1. After then the node can receive Ballot(Height:1, `ACCEPT`) from all nodes.
In this state, the node can decide to keep going because it has higher ballot or stop and catch-up because there are no `SIGN` ballot.
In this case, I want to take former because it i

[2018-08-13 07:06] spikeekips opened #242 "Checking Base reserve amount in validation process"
Each account must be created with over base reserve amount, so `create-account` operation must be checked it has over given base reserve amount. For more details, https://www.stellar.org/developers/guides/concepts/fees.html will be helpful.

[2018-08-13 08:28] Charleslee522 commented on #210
This issue is only for design and documentation. The implementation will go with the new specific issues.

[2018-08-14 06:11] Charleslee522 opened #246 "Unittest of the `NodeRunnerHandleMessageChecker`"
I figure, we need unittest of the `NodeRunnerHandleMessageChecker`.

This is sub-issue of #200

[2018-08-14 07:34] Charleslee522 opened #250 "Saving future state ballot for following fast"
from #210

A node saves the ballot which has later state than itself.
B(H, R, S) means The Ballot of H(height), R(round) and S(status))
If B(H+i, R) -> Save for following fast.
If B(H, R+j) -> Save for following fast.
If B(H, R, S+k) -> Later state includes previous state. For example, ACCEPT ballot includes SIGN state.

Exactly.
I mean, for example, let's assume that
1. a node loses Ballot(Height

[2018-08-14 07:36] Charleslee522 commented on #210
Saving future state ballot issue is split into #250

[2018-08-14 07:38] Charleslee522 opened #251 "Implement the new ISAAC to match status of all nodes similarly"
Implementing #210 based on https://github.com/bosnet/sebak/wiki/How-the-consensus-protocol-works

## Issues
### Split timeout
1. TIMEOUT_INIT
1. TIMEOUT_SIGH
1. TIMEOUT_ACCEPT
1. TIMEOUT_GATHER_TRANSACTIONS
### Add voting `NIL`
### If timer expires, the node goes to the next state with `NIL` voting
### Etc...

[2018-08-16 07:44] spikeekips opened #257 "How to handle Transaction Fee?"
There are several issues we should consider about 'Transaction Fee'.

* Where are the collected fees stored? Is it necessary?
* How to calculate the collected Transaction Fee for distributing them?
* etc.

[2018-08-16 10:52] spikeekips commented on #99
@Geod24 I have question, if node is down, can the other nodes know that? If not, the broadcasting may be matter.

[2018-08-17 01:07] kfangw commented on #204
how is going? @Geod24

[2018-08-18 06:15] spikeekips commented on #118
RFC is https://tools.ietf.org/html/rfc4627 .

[2018-08-22 00:43] Charleslee522 opened #264 "Fix some errors from `StartNewRound` in node_runner.go(`new-proposer` branch)"
[code]

Result - Sometimes you can see this(Timer is stopped but no)
[code]

## Background
Above is simple codes that reproduce `StartNewRound` method in https://github.com/bosnet/sebak/blob/new-proposer/lib/node_runner.go#L386.
There are some errors in this code so I added the locking object features but the problem is not fixed completely.

### Errors
1. When calling nr.timer.Stop(), it could be

[2018-08-22 00:49] Charleslee522 commented on #264
The node state should be `height` and `state`.

[2018-08-22 04:06] spikeekips commented on #264
[code]

[2018-08-24 03:18] outsideris opened #274 "Write API document"
For client development, public API document is needed as Swagger or Postman format.

It is best if we make API document automatically from source.

[2018-08-28 07:03] Charleslee522 opened #283 "Weight in validator"

[2018-08-28 07:08] #283 closed

[2018-08-28 07:54] Geod24 opened #284 "Update to a new version of go-observable"
When https://github.com/GianlucaGuarini/go-observable/pull/5 is merged, we need to upgrade to that version to get rid of one of our race condition.

[2018-08-28 08:35] Geod24 commented on #284
FYI @kfangw

[2018-08-28 08:36] kfangw opened #286 "Refactoring API structure"
Several weeks ago, @anarcher @zzim2x mentioned restructuring API in person.

Description will be filled soon.

[2018-08-28 08:36] kfangw commented on #286
Could you share your code snippet here? @zzim2x

[2018-08-28 08:38] kfangw opened #287 "List up Client API"
Current implementation contains Account/Transaction API
There might be more API which the wallet client need
List up the APIs and Specs

[2018-08-28 08:39] kfangw commented on #284
@Geod24 thx

[2018-08-29 02:30] Geod24 commented on #126
The one you pasted will be solved by https://github.com/bosnet/sebak/issues/284
We have more, though:
[code]
This one triggers because we access the `ConnectionManager.connected` hashmap for both reads and write without synchronization from different Goroutines.

[code]
This happens because we read/write `ISAACVotingThresholdPolicy.connected` from different goroutines (actually this is written to

[2018-08-29 02:33] Charleslee522 opened #289 "Modifying package name(`sebakcommon` -> `common`, ...)"
There are some reasons for modifying.
1. All package names start with same prefix `sebak`. I think it means nothing.
1. Package name `sebakcommon` is too long

Related #288
PS.

And using common instead of sebakcommon (It is a naming issue)
If we need to import same pkg names , IMHO, We change a name of outside pkg instead of our pkg name. ( import std_log "log" , import btc_common "btc/common").

[2018-08-29 07:12] anarcher commented on #287
# Node API

- `/node/blocks/lastest/`
- `/node/blocks/hash/:hash`
- `/node/blocks/height/:height`
- `/node/transactions/pool/`
- `/node/transactions/`
- `/node/transactions/db/`

# Client API

- `/api/transactions/:hash`
- `/api/block/:hash`
- `/api/block/height/:height`

@outsideris @kfangw  We need a time to discuss the api naming? :->

[2018-08-29 07:12] anarcher commented on #286
Ping @zzim2x

[2018-08-29 07:14] kfangw commented on #287
I am reading this stellar API document
https://www.stellar.org/developers/horizon/reference/endpoints/accounts-single.html
We may find missing API by looking the document

[2018-08-29 07:23] Charleslee522 opened #290 "Performance benchmark(function argument copy vs pointer)"
## Background
I always wonder that using object is slower than using pointer. So I tried the following experiment.

## Result
Using object as argument is slower than using pointer. If our program has performance problem, then we might need to modify argument to pointer.

## Experiment

[code]

## Result
[code]

## FYI. Changing slice or map as argument in function affect to outer object.
[code]

I

[2018-08-29 07:38] Geod24 commented on #290
@Charleslee522 : It widely depends on the data type though.
Usually it's not something we should worry about, unless the type being passed is very large.

In your experiment, the struct holds 10 `string`. Assuming a 64 bits pointer / 32 bits length pair and no padding, that is 960 bits of data being copied at every invocation, which is much bigger than the 64 bits a pointer is.

That being said, i

[2018-08-29 07:51] #155 closed

[2018-08-29 08:09] kfangw commented on #287
# Client API

* Account
/accounts
/accounts/:id
/accounts/:id/transactions
/accounts/:id/operations

* Transaction
/transactions
/transactions (POST)
/transactions/:id

* Block
/blocks
/blocks/:id
/blocks/:id/transactions
/blocks/:id/operations

* Operation
/operations
/operations/:id

[2018-08-29 08:27] kfangw commented on #122
#118 the resource is expressed in the JSON+HAL

[2018-08-29 08:28] kfangw commented on #122
cursor, ordering is needed

[2018-08-29 08:44] zzim2x commented on #286
I've not found the code. It might seem to be on my other laptop.

[2018-08-29 08:57] soonkuk opened #294 "Ricardian Contract format."
The ricardian contract is used to describe the condition and action of PF.
It will be signed and recorded in the blockchain by the publisher.
When PF voting procedure is executed, each voting transaction must refer to the ricardian contract
and signed voting transaction will be the evidence that voter has agreed on the contents of the ricardian contract.
It will need to first define the ricardian

[2018-08-29 14:41] anarcher commented on #290
As you know, Golang is a value-oriented language. Everything is passing is a value. Slice and map is a reference type (we can say that a pointer with metadata?).  And  Pointers are about ownership. When you pass a pointer to a function, you are delegating ownership of the pointer to that function. I rarely agree with @Geod24's opinion, but Basically, we are building a kind of network-oriented node

[2018-08-30 04:53] anarcher commented on #289
- https://blog.golang.org/package-names

[2018-08-30 07:52] Charleslee522 opened #297 "For entering `SYNC` state, a node checks the block height from ACCEPT ballots."
https://github.com/bosnet/sebak/wiki/How-to-SYNC-blocks-with-validators

There are four node states in ISAAC.
1. NodeStateBOOTING
1. NodeStateSYNC
1. NodeStateCONSENSUS
1. NodeStateTERMINATING

After booting, NodeState is `SYNC` first. Then a node checks that whether it can be part of consensus or not.
For doing that, a node receives ACCEPT ballots.
When these exceed the threshold, node finds the

[2018-08-30 08:06] Charleslee522 opened #298 "A node request and receive the block information"
https://github.com/bosnet/sebak/wiki/How-to-SYNC-blocks-with-validators

When synchronizing block,
1. The node request all `BlockHeader` first by GetBlockHeader(height range) API.
2. There is a `prevBlockHash` in `BlockHeader`. And The node can generate `blockHash` using `BlockHeader`.
3. It validates these all headers.
4. It requests all Blocks by GetBlock(blockHash) API.
~~5. It validates all Bl

[2018-08-30 08:42] anarcher commented on #274
- https://github.com/growler/go-slate

[2018-08-30 09:01] anarcher opened #299 "API: Refactoring API Eventstream"
- With API Handler struct, Design `Streamer` or `EventStream` struct to work with `http.Flusher`
- related to: #286

[2018-08-30 22:49] spikeekips commented on #289
@Charleslee522 I suggest,

* `sebakcommon` -> `common`
* `sebaknetwork` -> `network`
* `sebakstorage` -> `storage`
* `sebakerror` -> `sebakerror`
* `block` -> `block` 👍
* `sebaknode` -> `node`
* `observer` -> `observer`

To make pkg name to be shorter will be good, and further our pkg name should be general and if some conflict with another outside pkgs, we can use import alias. But `sebakerror` i

[2018-08-30 23:14] spikeekips opened #301 "New API: Get `Block`s and get `Header`s of `Block`"
(related to #298)

We need two new API, getting `Block`s and `Header`s of `Block` for **SYNC**.

### `/node/blocks`

Request and response the `Block(block.go)`

#### Options
| name | type | description |
| --- | --- | --- |
| `height-range` | int-int | set range of `Block.Height`, ex) `9-348`(from `9` to `348` |
| `hash` | `Hash` string | set `Block.Hash`, this can be set multiple |
| `full` | boo

[2018-08-30 23:32] #216 closed

[2018-08-30 23:32] #214 closed

[2018-08-30 23:33] #237 closed

[2018-08-30 23:34] Charleslee522 commented on #250
Already implemented in `new-proposer`

[2018-08-30 23:34] #250 closed

[2018-08-30 23:36] Charleslee522 commented on #301
@spikeekips How about splitting into two issues? :) 1. GetBlock, 2. GetBlockHeader.

[2018-08-30 23:36] #209 closed

[2018-08-30 23:37] #201 closed

[2018-08-30 23:37] #200 closed

[2018-08-30 23:37] spikeekips commented on #301
@Charleslee522 At first, I think 2 api will be necessary, but only one API, `/node/blocks` can handle :)

[2018-08-30 23:40] Charleslee522 commented on #301
Then, how about 3 issues? :)
The implementation and design is different each 3 modes.

[2018-08-30 23:42] spikeekips commented on #301
@Charleslee522 Hmm, I don't think so. Each mode can be written and almost same. :)

[2018-08-30 23:48] Charleslee522 commented on #301
It's not mandatory but I think if it is splitted and the specific design, then it would be helpful to understand and review.
Specific design means, data structure(`Header`, `Block`, `FullBlock`) and how to use in `SYNC` scenario.

[2018-08-30 23:51] spikeekips commented on #301
@Charleslee522 I understand what you said. Most of API, especially this API should be neutral, I think. At this time this API is heavily used for **SYNC**, but this can be used for another purpose.

Anyway, I can not understand the design can be different by `mode`. In the side of API handler, the `mode` is only related to the serializing part.

[2018-08-30 23:57] Charleslee522 commented on #301
@spikeekips

Okay. You mean general API.

You're right. Exactly I'd thought so too. The `design` means serialization design.

[2018-08-31 00:09] Charleslee522 opened #302 "Store confirmed block without validation in `SYNC` state"
Unless the node is fully synced yet, it should store confirmed block without validation temporarily.
1. Receive only `ACCEPT` ballot and do not validate.
1. If the number of ballots exceeds threshold, store the block.
1. The block is handled exactly same with received block from validator.
   * It means, these blocks are validated sequentially from genesis Block.
1. When it is done, the node state

[2018-08-31 00:13] #264 closed

[2018-08-31 00:14] #21 closed

[2018-08-31 00:14] #22 closed

[2018-08-31 00:14] #23 closed

[2018-08-31 00:16] Charleslee522 commented on #18
Now, we have block and new issues #297, #298, #301, #302.

[2018-08-31 00:16] #18 closed

[2018-08-31 00:17] Charleslee522 commented on #147
`TestNodeRunnerPayment` is removed now.

[2018-08-31 00:17] #147 closed

[2018-08-31 00:17] #202 closed

[2018-08-31 01:20] Charleslee522 opened #303 "negative wait group error in `TestNodeRunnerSaveBlock`"
[code]
@spikeekips Please check this bug :)

[2018-08-31 01:35] outsideris commented on #287
We should add APIs for frozen accounts.

[2018-08-31 01:37] kfangw commented on #287
@Geod24 @soonkuk @cmcm2222 @kyehyukahn Please note the APIs what you need

[2018-08-31 01:47] Geod24 commented on #302
Why does it needs to bypass validation ?

[2018-08-31 02:33] anarcher commented on #289
As already you know, std errors pkg has one func, so we can use import alias or  type alias if we need to it.

For example, upspin project uses just errors pkg name: https://github.com/upspin/upspin/blob/master/errors/errors.go

[2018-08-31 04:59] kfangw commented on #287
@spikeekips Can we list up APIs what the exchanges used?

[2018-08-31 05:44] #221 closed

[2018-08-31 05:45] #223 closed

[2018-08-31 08:58] Geod24 opened #307 "Implement frozen accounts"
We should implement frozen accounts.
In short a frozen account is just like a normal account, except:

- It cannot receive new transaction after it has been created
- It can only be created with amount which are multiple of 10k BOS
- It has a link to the reward account (the public address)
- One can only withdraw the integrality of the account balance

My suggestion is to add a `--freeze` option t

[2018-08-31 09:01] Geod24 opened #308 "Implement regular coin generation"
We need a ticker that will generate a tx of value V to the common budget every Z block.
The proposer should include this special transaction, and nodes should check it for correctness.

At the moment, V=3.4 BOS and Z=17,280 (12*60*24).

[2018-08-31 09:03] Geod24 opened #309 "Implement delayed transaction (unfreezing)"
When #307 is done, we need a mean to delay a state change.
Basically, when a block is externalized, we should have a check for actions that have been delayed until this block. This will allow us to implement unfreezing efficiently.

[2018-08-31 09:04] outsideris opened #310 "Fix client API content-type"
I didn't check all API endpoints, but when I checked `/api/account/{address}`, its `content-type` is `text/plain` not `application/json`.

[code]

I think it should be `application/json` as same as the response body.

[2018-08-31 11:40] #246 closed

[2018-08-31 11:41] #205 closed

[2018-08-31 11:42] #120 closed

[2018-09-03 00:52] Geod24 commented on #302
I see, it makes perfect thanks, thanks for the clarification!

[2018-09-03 01:49] soonkuk opened #311 "Congress Voting: Messages and API"
Proposal about congress voting and voting result should be stored in the blockchain.
We should implement the transaction operation type about proposal and voting result and define operation data.

[2018-09-03 02:14] Charleslee522 opened #312 "Validate all blocks in SYNC state"
https://github.com/bosnet/sebak/wiki/How-to-SYNC-blocks-with-validators

[2018-09-03 04:05] spikeekips commented on #303
This will be help.
[code]

[2018-09-03 04:07] spikeekips commented on #303
@Charleslee522 If you found this bug in https://github.com/bosnet/sebak/tree/new-proposer, I will patch.

[2018-09-03 04:08] Charleslee522 commented on #303
@spikeekips Exactly. I found it in new-proposer branch :)

[2018-09-03 04:09] soonkuk commented on #307
I think it also should have a below exception.
- The Sender of create transaction should be equal to reward account.

[2018-09-03 04:10] Geod24 commented on #307
That depends on how we do the reward system. But at first look, I'm not sure that's necessary (although it'll be the default in the CLI).

[2018-09-03 04:12] soonkuk commented on #309
I think both records of request for unfreezing and real unfreezing should be stored in blockchain.

[2018-09-03 04:16] kyehyukahn commented on #307
Does the frozen account need a new public address system, such as a different prefix value?

[2018-09-03 04:31] kyehyukahn commented on #309
Implicitly delayed tx may cause unexpected problems. So if we decide the delayed action, we need to add the fact about the delaying action on a blockchain.

[2018-09-03 04:34] Geod24 commented on #309
@soonkuk: Yes, we agree on this. The initial transaction is the request for unfreezing, then after the timeout the proposer generates the actual state change.

[2018-09-03 04:58] Geod24 commented on #307
I think so.

[2018-09-03 06:18] soonkuk commented on #309
I imagined how about using delayed transaction for the coin issuance.
If delayed transaction make series action periodically, I think it works same as coin issuance.

[2018-09-04 08:14] kyehyukahn commented on #308
We have two options for coin issuance.
1. the whole coins are issued  at once
2. coins are issued periodically to the amount of the whole coins.
I will deal with two options.
and then I will deal with 2 transactions, ActivatePF and Deactivate PF.

[2018-09-05 00:17] Charleslee522 opened #322 "Automatically calculated, flexible `TimeoutALLCONFIRM`"
## Background
In BOScoin blockchain, rewards(block confirmation or freezing) should be paid every day(every 17280 height because block time is 5 sec). So it is important to keep the average block time at 5 seconds.
In consensus protocol, there are four timeout features at each state. With only fixed timeout, to keep the average block time is impossible.
Therefore, `TimeoutINIT`, `TimeoutSIGN` and

[2018-09-05 09:34] kyehyukahn commented on #308
# How to implement coin issuance features

## Background
The SEBAK system can issue additional coins by congress voting about the public financing and by inflation.
The coins can be issued in three ways depending on the cause.
The first is the way in which the entire coin is issued at once, the second is issued for a certain period periodically for a certain block height, and the third is issued i

[2018-09-05 09:37] Geod24 commented on #308
I still think a block limit would be preferable to Activate/Deactive PF.

[2018-09-05 09:42] kyehyukahn commented on #308
@Geod24  activate and deactivate automatically?

[2018-09-05 09:48] Geod24 commented on #308
Yes

[2018-09-05 09:52] kyehyukahn commented on #308
ok. we need to talk about it more.

[2018-09-06 04:21] kfangw opened #329 "API: Getting all new features"
When #323 #118 #19 #122 are ready

Reimplement existing API with those features.

[2018-09-06 07:47] spikeekips commented on #303
I also found this error in my local machine, but it was rarely occurred. Anyway, to make this error often, I created new virtual machine and it has the limited resources, 1G CPU and 1G memory. I think it is similar with the circielci env.

Sometimes `TestNodeRunnerSaveBlock` was successfully done, but `panic: sync: negative WaitGroup counter` was found often. To make it clearer, I added log messag

[2018-09-07 00:18] Charleslee522 opened #338 "New package `ballot` or `voting`"
`common` package and `sebak` package is huge so I want to divide it into several packages in the long run.
In this issue, I target files related to ballot.

[code]

[2018-09-07 04:20] anarcher opened #341 "API: Post Transaction handler"
It looks seem that our API handler doesn't have or bind a POST Transaction handler. Is it right?
What do we do for it? :-) @kfangw
Is another option that the client uses node API too?

[code]

[2018-09-07 04:22] anarcher opened #342 "Client API version"
Now API Prefix is `/api/`, But I think  we need a version of client api  like  `/api/v1/`

What do you think about it?

[2018-09-07 04:28] kfangw commented on #341
The as-is client API does not support POST transaction
I think we'd better make it regardless of the node API

[2018-09-07 05:37] spikeekips commented on #303
Especially 'negative waitgroup' issue can be occurred in local env, this can be resolved like this.
[code]

[2018-09-07 06:14] #289 closed

[2018-09-07 07:27] #299 closed

[2018-09-07 07:27] #310 closed

[2018-09-08 02:49] anarcher commented on #341
[code]

What do you think about it?  hahaha

[2018-09-09 22:49] Charleslee522 opened #344 "package split(package sebak => package sebak, block, account, transaction)"
There are too many `Structs` in sebak package. So I and @anarcher rearranged packages and directories.
We also wanted to move test files like `lib/ballot_test.go` to `lib/ballot`, but it is more complex so I'm going to make new issue for it.

### package account
 lib/{block => account}/account.go
 lib/{block => account}/account_test.go
 lib/{block => account}/test.go

### package ballot
lib/{ => b

[2018-09-09 22:56] Charleslee522 commented on #338
This is included in #344

[2018-09-09 22:56] #338 closed

[2018-09-10 00:33] Charleslee522 opened #346 "Moving test files to the right package"
While implementing the 344, I tried to move the test to the right package together,
but it was more complex and the code change was huge than I thought.
Therefore I split it into this issue.

lib/ballot_test.go => package ballot
lib/transaction_test.go => package transaction
lib/operation_test.go => package transaction
lib/block_operation_test.go => package transaction
lib/block_transaction_test.g

[2018-09-10 02:09] anarcher commented on #341
Even though #343 works (binding node message handler), For client api, I think we make sync api for it.

- Check tx with TxChecker
-  Add tx to TxPool
- Broardcasting tx to validators  (async)
-  Response the result

What do you think? @kfangw , @Charleslee522

[2018-09-10 02:41] Geod24 commented on #123
Done in #140

[2018-09-10 02:41] #123 closed

[2018-09-10 05:54] #251 closed

[2018-09-10 08:04] anarcher commented on #122
How to represent the `cursor` in HTTP Request/Response?
- GET querystring  such like`?cursor={cursor}&limit={limit}`
-  cursor =  `{key_prefix}-{index_item}-{block_height}-{sequence_id}-{uuid}` ?  We can need some kind of `paging_token`?

[2018-09-10 08:13] anarcher commented on #122
What do you think about it?

[code]

[2018-09-10 10:19] soonkuk opened #356 "Operation Type Implementation"
##Background##
We defined operation type for the transfer feature(payment, createAccount) until now.
And the methods which is defined in OperationBody interface are Validate(), IsWellFormed(), TargetAddress(), GetAmount().
There is a need to define more operation type increasingly.
But the methods of OperationBody interface isn't general for other operation type.(e.g. operation_voting_result, oper

[2018-09-10 10:54] kfangw commented on #356
It makes sense.
Could you make a PR for it?
We can discuss further in the PR

[2018-09-10 22:42] spikeekips opened #357 "Throttling for API requests from clients and nodes"
We need to throttle the incoming requests from client and also from nodes.

* Throttling from clients, means that node can keep the transactions in `TransactionPool` to be managed constantly
* Throttling from other nodes, means to filter the requests from some problematic node.

We can find similar case from stellar horizon, https://github.com/stellar/go/blob/master/services/horizon/internal/middl

[2018-09-10 22:44] spikeekips commented on #287
There were some questions to see the all operations of a given account. Stellar Horizon has `effects` for account,
https://www.stellar.org/developers/horizon/reference/endpoints/effects-for-account.html .

[2018-09-10 23:10] spikeekips commented on #287
After this issue ends up, we can wrap the details about APIs to the wiki page.

[2018-09-10 23:48] spikeekips commented on #19
Good job @kfangw

[2018-09-10 23:48] #19 closed

[2018-09-10 23:49] spikeekips commented on #118
Good job @kfangw

[2018-09-10 23:49] #118 closed

[2018-09-10 23:52] spikeekips commented on #286
Can we close this issue?

[2018-09-11 00:44] spikeekips commented on #344
Ping #352 are doing similar job.

[2018-09-11 00:50] kfangw commented on #344
Some idea, like ballot, can be done on the branch.

[2018-09-11 00:57] spikeekips commented on #204
This issue can be closed, right?

[2018-09-11 01:05] Geod24 commented on #204
Right!

[2018-09-11 01:05] #204 closed

[2018-09-11 01:48] #341 closed

[2018-09-11 02:09] soonkuk opened #360 "Implementation unfreezing request and unfreezing operation"
## Background
When a client generates a unfreezing transaction, it really affects the balance of account after X blocks.
This is the unfreezing feature.

## Solution
To implement unfreezing features, two operation type is needed.
One is unfreezing request operation, and the other is unfreezing operation.

1. Client who want to unfreeze the frozen account send unfreezing request transaction.
    Th

[2018-09-11 02:11] Geod24 commented on #360
Isn't this a duplicate of https://github.com/bosnet/sebak/issues/309 ?

[2018-09-11 04:46] soonkuk commented on #356
Ok, then I'll make a PR.

[2018-09-11 06:55] #100 closed

[2018-09-11 07:47] Charleslee522 commented on #344
Resolved in #352

[2018-09-11 07:47] #344 closed

[2018-09-11 07:48] Charleslee522 commented on #346
Related #344 Resolved in #352

[2018-09-11 07:48] #346 closed

[2018-09-11 09:27] anarcher commented on #286
Yes, I will close it.   :-)

[2018-09-11 09:28] #286 closed

[2018-09-11 09:54] spikeekips commented on #301
I will apply #363 .

[2018-09-11 10:14] #126 closed

[2018-09-11 22:10] #203 closed

[2018-09-11 22:11] spikeekips commented on #203
@Charleslee522 👍

[2018-09-12 01:12] Geod24 commented on #91
Suggestion: If the user just references itself as validator, we accept it.

[2018-09-12 01:15] Charleslee522 commented on #91
@Geod24 How about empty validator or adding standalone option?

[2018-09-12 01:18] Geod24 commented on #91
Empty validator would be slightly ambiguous, as it could be a misconfiguration.
Standalone option would work, but means adding yet another option to an already large set, hence the suggestion to use a special `--validators`.

[2018-09-12 01:29] anarcher commented on #91
Standalone option would work, but means adding yet another option to an already large set, hence the suggestion to use a special --validators.

I agree it. :-).   The special `--validators` means same as `-- validators=self`?  @Geod24

[2018-09-12 01:32] Geod24 commented on #91
@anarcher : `self`, `none`, or `http://127.0.0.1...`, whatever you feel like :)

[2018-09-12 10:51] #342 closed

[2018-09-12 11:11] anarcher opened #374 "Error handling with EventStream"
- I and @kfangw told about it.
- As a result, If event stream meets error, It flashes this error message (HTTP problem format) and is stopped at this event stream. (It's @kfangw idea :-)

[2018-09-12 11:15] anarcher opened #375 "Middleware for handlers"
- For support common functionality to http handlers.
   - e.g. Recover,Cache,RateLimit,Metric,CORS.....
- gorilla's router has a room for it (looks at `router.Use()`)

[2018-09-13 04:27] kfangw opened #377 "Log"
* study for log framework. There are alternatives

* Log wrapper

* Refactoring as-is usage of log

...

[2018-09-13 05:09] Geod24 commented on #377
Could you put a more descriptive issue title ?
It's very hard to have any idea what the issue is about when looking at the title / notification.

In addition, issues should have things that could be acted on.
For example, how do I know what needs to be done here ?
How do I know when I can close the issue ? Things like "Study log framework" is an open-ended point and we could forever study them. Li

[2018-09-13 05:24] anarcher opened #379 "Logging messages of client API Handlers"
Current Client API Handlers don't have logging for request/response.
We consider suitable logging messages (Not too many, Not too small..) :->

[2018-09-13 06:14] kfangw commented on #377
Description will be filled. Sorry if this issue creation bothers you.
@Geod24

[2018-09-13 06:34] soonkuk opened #381 "Implementation sending transaction fee according to operation type."
## Background
The transaction fee is sent to the specific account in general.
But for some specific transaction which has operations like as voting result, membership, issuance the transaction fee may be exempted.

## Solution
Include sending tx fee in FinishOperation function of each operation type basically.
According to operation type some FinishOperation functions can omit sending tx fee.

[2018-09-13 07:05] anarcher opened #383 "Clinet API Request validator"
I think we need a validator for request of client api handlers.

- https://github.com/go-playground/validator
- https://github.com/asaskevich/govalidator

[2018-09-13 10:08] kfangw opened #385 "API: Effects"
/effecs

Stellar support `effect` API
Exchanges use the API to get information from current Tokennet
We need to support this API

refer this.
https://www.stellar.org/developers/horizon/reference/endpoints/effects-for-account.html

[2018-09-13 10:14] Geod24 opened #386 "Write unittests for ValidateOp / ValidateTx"
Those two methods are some of the most critical to sebak, as they are core part of the consensus rules.
They should be properly documented and tested, but currently no error case is tested:
https://codecov.io/gh/bosnet/sebak/src/master/lib/node/runner/checker_ballot_transaction.go#L148

[2018-09-14 04:05] anarcher opened #390 "API: Cache Responses"

[2018-09-14 04:07] anarcher commented on #122
I think this issue is closed :-) I will close it!!!

[2018-09-14 04:07] #122 closed

[2018-09-14 04:11] anarcher commented on #379
Because `HTTPLoghandler` exists for general logging for API handlers. For now, I think we don't need general logging message. I will close it

[2018-09-14 04:11] #379 closed

[2018-09-14 04:53] kfangw commented on #377
I will reopen this issue when I am clear for it.

[2018-09-14 04:53] #377 closed

[2018-09-14 04:59] kfangw opened #394 "API: query parameter for `type`"
as-is query parameters are limit, cursor, and reverse.

To get a specific operation such as the proposal, type query is needed

Things to do are

* Make a reverse index for the type

* Query parameter `type` support for API

[2018-09-14 05:01] #329 closed

[2018-09-14 05:02] kfangw commented on #294
@soonkuk How is going?

[2018-09-14 05:04] kfangw commented on #257
Is it needed to be solved until the opening bosnet?

[2018-09-14 05:07] kfangw commented on #129
it is solved by https://github.com/bosnet/sebak/pull/352
Could you close the issue if there are no more things to discuss? @Geod24

[2018-09-14 05:08] kfangw commented on #63
Somebody should take over this Issue

[2018-09-14 05:09] Geod24 commented on #129
Yep, thanks @kfangw !

[2018-09-14 05:09] #129 closed

[2018-09-14 05:10] kfangw commented on #9
several weeks ago I had been worked for this issue with PR https://github.com/bosnet/sebak/pull/143
Do you think that this issue needed to be resumed? or any other opinion?
@anarcher

[2018-09-14 05:18] spikeekips commented on #63
@kfangw I will.

[2018-09-14 05:20] spikeekips commented on #257
@kfangw I will handle this issue, especially the first one,  "Where are the collected fees stored?" with #63 .

[2018-09-14 05:28] Geod24 opened #395 "Drop Go v1.10 support and use v1.11 only"
Go v1.11 introduced support for go modules.
Since we use a lot of modules, dropping support for Go v1.10 would greatly simplify our CI / update process, as we can get rid of `dep` completely and use only the Go tool.

[2018-09-14 06:00] kfangw commented on #360
I also confused. I think that it is duplicated.
What #309 intended is to implement the `operation`.

[2018-09-14 06:03] kfangw commented on #308
May I participate in this issue as a watcher?

[2018-09-14 06:06] kfangw commented on #395
r u sure that 1.11 working well without bug?
I am worried that it might have faults because 1.11 is introduced only a few weeks ago.

[2018-09-14 06:07] kyehyukahn commented on #308
Yes you're welcome

[2018-09-14 06:09] kfangw commented on #297
I want to watch this issue

[2018-09-14 06:16] anarcher opened #397 "Refactoring logging"
- Every block created logging should be `info`
[code]
- Noise error log messages will go `debug` or `none`
[code]
- Main objects have its own `logger` (i.e.  NodeRunner,IASSC,Network..)  (Not pkg-scope logger and no `init()`)

- #377 ,  #367 ,  #391

[2018-09-14 07:11] anarcher commented on #274
We can close it? @kfangw @outsideris  Maybe we can fill more information of it. But I would like to care with another new issue and PR.. :->

[2018-09-14 07:12] anarcher commented on #395
With go1.11 , gomodule is still experimental. :-> (https://blog.golang.org/go1.11)

[2018-09-14 07:30] Geod24 commented on #395
[Source](https://golang.org/doc/go1.11#modules)
I don't say we have to do it right now, but we should consider doing it sooner than later.

[2018-09-14 08:57] anarcher commented on #274
- Add github page :  https://bosnet.github.io/sebak/api/index.html
- Thanks! @outsideris !!

[2018-09-14 08:59] anarcher commented on #274
I will close it now, If we have another issues or needs, we will make other issues for it. :->

[2018-09-14 08:59] #274 closed

[2018-09-14 09:43] outsideris commented on #395
Otherwise, we need a rule when we will drop v1.10.

[2018-09-16 11:43] spikeekips opened #400 "Support to set public endpoint in `sebak node run --publish`"
Currently `sebak node run` support to set network binding with `--endpoint` option. If node are running in internal subnet and it has different network endpoint for outside of the subnet.
[code]
`node0` can connect to `node2, but `node2` can not to `node0`.

The requirements are,
* rename the current `--endpoint` to `--bind`
  - if the `host` part is `localhost`, network will be bind to `localhost

[2018-09-16 13:58] Geod24 commented on #400
👍 for `bind`

Is it `--publish` or `--public` ? The title use the later but the description uses the former.
I'm not sure I understand what `--publi{sh,c}` is for ?

[2018-09-16 14:03] spikeekips commented on #400
@Geod24 —publish, I mean it.

[2018-09-17 00:51] Charleslee522 opened #403 "Drop `Broadcaster` and `ProposerCalculator` interface"
in #358

That's why the broadcaster interface degrades network abstraction.

[2018-09-17 01:06] Geod24 opened #404 "When validation of a transaction fails, informs the requester"
Currently sending a transaction to a node is a fire-and-forget operation.
Even if the transaction is very obviously wrong (missing field, wrong signature / hash, etc...) the node just doesn't report anything.
This makes writing tests much more complicated than it should be.

[2018-09-17 01:27] kfangw opened #407 "API: Block"
Client API for Blocks.
It may be required by exchanges and explorer.

/blocks
/blocks/:hash
/blocks/:hash/transactions
/blocks/:hash/operations

[2018-09-17 02:02] kfangw commented on #9
@anarcher ping

[2018-09-17 02:05] spikeekips commented on #407
Is it related to the #301 ?

[2018-09-17 02:08] anarcher commented on #9
IMHO, we consider to separate node info and client info. What do you think? :)

[2018-09-17 02:14] kfangw commented on #407
Implementation of the handler may be similar to the #301
But the request/response may differ.
This API called by clients, not nodes.

Implementation of this API may be pend until the #301 is done.
I defer to your decision.

@spikeekips

[2018-09-17 02:16] kfangw commented on #9
OK I agreed. What information provided by the client node API you think?

[2018-09-17 02:23] kfangw opened #409 "API: Fill document with details and review it"
I am not sure the document can be verbose for each field.
first of all, follow the existing documentation system, and discovery improvement point and fill it.

reference.
https://apiblueprint.org/documentation/tutorial.html
https://github.com/danielgtaylor/aglio

[2018-09-17 02:30] kfangw opened #410 "Map between Errors and HTTP status"
https://github.com/bosnet/sebak/blob/9eb92e9a1a93bb07df7722cfa5e8e3f7dbfebb9b/lib/network/httputils/httputils.go#L18

ErrorsToStatus is not set correctly now.

[2018-09-17 02:39] Geod24 opened #412 "Hash malleability issue because of JSON serialization"
Today @soonkuk approached me with an issue regarding [a WIP commit](https://github.com/soonkuk/sebak/commit/5b1c22ae32c2f581651ef4566fb8af415e1a46c1)

The integration tests were failing for no apparent reason. From the code it was obvious this came from [adding an empty struct to the operation body](https://github.com/soonkuk/sebak/commit/5b1c22ae32c2f581651ef4566fb8af415e1a46c1#diff-64dcdb85b4f09

[2018-09-17 03:31] kfangw commented on #404
This issue should be handled in the transaction(POST) client API.
For now, client API uses the node API handler. It needed to be reimplemented.

[2018-09-17 03:43] anarcher commented on #9
What do you think about it? :->
[code]

[2018-09-17 03:48] anarcher commented on #409
For generating APi HTML doc (https://bosnet.github.io/sebak/api), I will do it until CI automation. :-)

[2018-09-17 04:06] kfangw commented on #9
@anarcher thx ~ I will make a node API for a client based on what you suggested

[2018-09-17 07:51] kfangw commented on #409
@cmcm2222 Could you try this out?

cd {where your sebak location}
`npx aglio -i ./docs/API.md -o ./docs/xxx.html`
And open the xxx.html on any browser.

[2018-09-17 08:16] cmcm2222 commented on #409
@kfangw I got it.

[2018-09-17 08:45] spikeekips opened #416 "Restricting access to ‘/node/‘ API only from known validators?"
This will be controversial :)

The APIs under ‘/node’ is used only for registered validators, so how about restricting access only from them?

If restricted, we can get some benefits from it such as, most of APIs under ‘/node’ use heavily resources, especially storage, so we can prevent abnormal requests from anonymous clients.

We can simply check whether requests is from known validators or not.

[2018-09-17 23:26] #210 closed

[2018-09-17 23:39] spikeekips opened #418 "Limit the maximum number of Operations in one Transaction"
(similar to the #243 )

Like capacity of maximum number of `Transaction`s in one `Ballot`, the number of `Operation`s in one `Transaction` should be limited.`

[2018-09-18 00:18] spikeekips opened #419 "Rename `ExistBlockXXX` to `ExistsBlock`"
To keep the consistency of function name.

[2018-09-18 00:41] Charleslee522 opened #420 "Unittest FAIL in master(TestGetOperationsByAccountHandler)"
https://circleci.com/gh/bosnet/sebak/6441
[code]

[2018-09-18 00:42] kfangw commented on #294
@soonkuk PING

[2018-09-18 00:43] kfangw commented on #311
May I take this Issue? @soonkuk

[2018-09-18 01:33] Geod24 commented on #416
My only comment so far is that the signature should be a hash of the date + the receiving node's public key, otherwise there's an obvious vector for replay attacks.

[2018-09-18 01:59] #419 closed

[2018-09-18 02:28] Geod24 opened #424 "Add tests to ensure block delays"
Since the freezing period depends on the block height, we need to ensure that blocks are produced on average every 5 seconds for this to be possible.
We should have a few tests in place that ensure that we can do that *on average*.
At the moment, consensus is much slower than that but should be fixed by https://github.com/bosnet/sebak/pull/399

[2018-09-18 02:35] spikeekips opened #425 "Rename `block.Header` to `block.BlockHeader`"
`block.Header` currently uses too wide name, but it belongs to only `block.Block`.

[2018-09-18 02:40] spikeekips commented on #257
The transaction fee will go to the common budget account.

[2018-09-18 02:41] spikeekips commented on #170
The new proposer consensus model solves this problem.

[2018-09-18 02:41] #170 closed

[2018-09-18 02:41] #137 closed

[2018-09-18 02:43] spikeekips commented on #257
#83

[2018-09-18 02:43] #257 closed

[2018-09-18 02:46] spikeekips commented on #72
#260

[2018-09-18 02:46] spikeekips commented on #83
related to #63

[2018-09-18 02:48] #35 closed

[2018-09-18 02:49] #26 closed

[2018-09-18 02:51] spikeekips commented on #17
related to #404, this issue will be closed.

[2018-09-18 02:51] #17 closed

[2018-09-18 02:52] spikeekips commented on #161
No more this message.

[2018-09-18 02:52] #161 closed

[2018-09-18 02:58] spikeekips commented on #381
Please update subject, 'Transaction fee' is too ambiguous.

[2018-09-18 03:03] spikeekips commented on #303
It was diminished, right?

[2018-09-18 03:03] #303 closed

[2018-09-18 03:05] #298 closed

[2018-09-18 03:05] spikeekips commented on #294
@soonkuk Ping, me too~

[2018-09-18 03:16] spikeekips commented on #34
@soonkuk Please update the latest inflation policy in this issue. :)

[2018-09-18 03:41] Geod24 commented on #17
It's not the same though. #404 is about how we respond to the request, this is about what we store in the blockchain (AFAIU)

[2018-09-19 00:18] soonkuk commented on #294
I don't make it yet.
I will finish in this week.

[2018-09-19 01:38] Geod24 opened #434 "Serialize blockchain data / tx data to binary"
Currently we are communicating through `JSON`.
While this is great for readability, it uses a lot more bandwidth / memory than it should and will make it hard to scale. It also starts to show problems such as [this](https://github.com/bosnet/sebak/issues/412).

We should switch to something a lightweight format. Bitcoin and ethereum use a simple binary serialization, Stellar uses XDR, and I'm pret

[2018-09-19 01:46] kfangw commented on #434
Good Point.
Many of team members have been worrying about it. But, it has not a high priority.

BTW, There is one more point to consider. SEBAK store data as JSON
When you research binary format for communicating, please mind this point also.
@Geod24

[2018-09-19 01:54] Geod24 commented on #434
@kfangw : We had a long discussion with @Charleslee522 about this yesterday.
My point was that all immutable data (blockchain data) should be serialized in the most efficient manner, e.g. as binary files to the disk (like bitcoin daemon does).
There's 2 reasons for that:
- We cannot prune those data, nor reconstruct it, so as soon as its here, it's not supposed to change, ever. As a result, the mo

[2018-09-19 02:08] kfangw commented on #434
@Geod24 I got your point except for the definition of blockchain data.
Could you enlight me that how distinguish blockchain data/application data according to SEBAK implementation?
Stored data in LevelDB including Block, BlockAccount, BlockTransaction, and BlockOperation,  is blockchain data? or application data?
IMO, we have application data only for the indexes for the BlockXXXs

[2018-09-19 02:13] Geod24 commented on #434
Yep.
Application data would be things like indexes, transaction pool, etc...

[2018-09-19 03:42] anarcher commented on #434
- https://github.com/alecthomas/go_serialization_benchmarks

[2018-09-19 04:29] Geod24 opened #436 "Increase sequence id on failed operation"
When an operation fails but the signature was legit, e.g. an attempt to overdraft, we should increase the sequence ID, otherwise replay attacks are made possible.

[2018-09-19 04:36] Geod24 commented on #194
This has been fixed and tests will be added in #199

[2018-09-19 04:36] #194 closed

[2018-09-19 05:35] kfangw opened #438 "Confirmed field of BlockTransaction"
https://github.com/bosnet/sebak/blob/bb40f328b530ce2787989ba8962afcd2df7dfc38/lib/block/transaction.go#L110-L125

IMO, Stored data for BlockXXX should be the same for every node. It is a blockchain data
But according to the current implementation, the confirmed field is different.

Should this need to be the same?

Furthermore, when the ```sync``` activated, the value of the confirmed field differ

[2018-09-19 05:36] kfangw commented on #438
@anarcher @Charleslee522 @spikeekips what do you think about this?

[2018-09-19 05:38] kfangw commented on #438
btw, Is the field necessary?

[2018-09-19 05:40] spikeekips commented on #438
@kfangw For information, `Block` generated by proposer's `Ballot`(`NewBlockFromBallot`), so `Block.Confirmed` value is from `Balot.ProposerConfirmed()`.

[2018-09-19 05:42] kfangw commented on #438
@spikeekips The code snippet comes from `BlockTransaction`

[2018-09-19 05:46] spikeekips commented on #438
@kfangw `BlockTransaction.Confirmed` should be set from `Block.Confirmed`, right?

[2018-09-19 05:47] kfangw commented on #438
@spikeekips yeap. I think so.
But I am worried that I missed a reason for AS-IS implementation.

[2018-09-19 05:49] spikeekips commented on #438
@kfangw The current impl should be bug :) I convince YOU RIGHT 👍

[2018-09-19 05:51] kfangw commented on #438
OK. thanks for your explanation.
I will upload relevant PR soon. @spikeekips

[2018-09-19 05:52] kfangw commented on #438
Ah... one more question remains
I want your opinion.

[2018-09-19 05:53] spikeekips commented on #438
@kfangw After you issued, now I don't know it should be necessary :)

[2018-09-19 06:37] kfangw opened #439 "Hash for BlockOperation"
https://github.com/bosnet/sebak/blob/ae5a58e519743cde45ea0cf4efcb972f3ff27347/lib/block/operation.go#L37-L55

Actually, Hash of BlockOperation is not ```Hash```
It is combined string by a hash of operation and a hash of the transaction
`return fmt.Sprintf("%s-%s", op.MakeHashString(), tx.GetHash())`
Currently, Operation Hash is used as a database key.

Like `Block` consist of hashes of the transac

[2018-09-19 06:40] kfangw commented on #439
How about adding the sequence number to `operation` to prevent hash collision?
If then, we can make the unique hash for every operation.

[2018-09-19 06:57] #403 closed

[2018-09-19 07:42] kfangw commented on #439
@anarcher @spikeekips @Geod24 I want to listen to your opinion

[2018-09-19 07:44] spikeekips commented on #439
@kfangw As I mentioned, `Transaction.Hash` looks like redundant, but it can be possible to check signature without calculating `Hash` in node-side.

[2018-09-19 07:45] kfangw commented on #439
@spikeekips It is the totally different issue what we discussed in person.

[2018-09-19 07:54] Geod24 commented on #386
https://github.com/bosnet/sebak/pull/441

[2018-09-19 08:30] kfangw commented on #311
https://blockchainos.atlassian.net/wiki/spaces/BOS/pages/556302380/Congress+Voting+Messages+and+API

[2018-09-19 09:37] #409 closed

[2018-09-19 23:53] Charleslee522 commented on #397
@anarcher Are you working on? If not, can I handle it? :)

[2018-09-20 00:00] anarcher commented on #397
@Charleslee522 Yes now l am not working on it. It would be nice if you handle it. Thanks :->

[2018-09-20 01:05] Charleslee522 commented on #438
@spikeekips @kfangw
`block.Confirmed` field is necessary in https://github.com/bosnet/sebak/pull/426
It is used when calculating the blockTimeBuffer.
But only the Confirmed of latest block is used. So it no needs to save in database or blockchain.

[2018-09-20 01:06] spikeekips commented on #438
@kfangw pointed BlockTransaction.Confirmed

[2018-09-20 01:08] Charleslee522 commented on #438
Okay. I figure, it could be removed :)

[2018-09-20 01:29] #386 closed

[2018-09-20 01:56] anarcher commented on #434
- https://github.com/tendermint/go-amino

[2018-09-20 06:04] spikeekips commented on #308
For inflation in every block only, not including PF, the entire process will be simpler like this.

1. Proposer make `Transaction` for inflation. This will have only one `Operation`, it's type is 'inflation'
1. In 'OperationInflation` has field: `Amount`, `Amount` is the increased amount by inflation
1. The other validators will verify,
  - `Ballot` has one inflation transaction
  - inflation `Tra

[2018-09-20 06:05] #212 closed

[2018-09-20 06:10] kfangw commented on #308
@spikeekips Good.
One major decision is the amount I think.
btw, I am doing restructuring `Operation` to support diverse types not only create/payment.
When you going to work on the `OperationInfation`, please let me know.

[2018-09-20 06:18] kyehyukahn commented on #308
I talk about the inflation and pf issuance with @soonkuk.

make the merkle tree by the transitions of balance by ballot transaction and issuance.
and it's root hash will be included in block. (one field will be added in block)

a propoer makes it.
the other nodes validate it.

it is similar to the receipt root of ethereum.

[2018-09-20 06:33] kfangw commented on #308
I don't understand.
Could you explain in a clear sentence?
For this, Korean may fine. sorry to @Geod24

[2018-09-20 06:34] kyehyukahn commented on #308
in case of the inflation by a transaction, more considerations are required such as
1. source ? propose or null
2. fee ? 0
3. sequence id? increase or 0
4. signing?

I think there is the exception for inflation transaction and the checker will be messier

[2018-09-20 06:35] spikeekips commented on #308
To apply merkle tree in block seems to make big changes. To support block inflation and PF, we need simple way, I think.

[2018-09-20 06:36] spikeekips commented on #308
Yes, we can set it by policy.

[2018-09-20 06:37] soonkuk commented on #308
Inflation tx is a specific tx which did not affect sender's sequeceID.
and when node checks validation of tx, there is some considerable issue.
For example SaveTransactionHistory function could make error about the inflation tx because it will be the same tx if same proposer make it again.

[2018-09-20 06:41] kyehyukahn commented on #308
민효님의 복잡한 구현이라는데에는  동의합니다.
그러나 일단 황욱님 질문에 답하면 한글로 간단히 순국님과 논의한 내용을 정리하면.
1. 블록에 root hash 필드를 만든다.
2. 블록에 포함된 트랜잭션들과 인플레이션, PF에 의한 변화를 포함하여 모든 account의 계정 변화를 머클트리로 만들어서 루트해시만 블록에 포함하고 proposer가 제안한다. (인플레이션, PF, 일반트랜잭션 순서로 트리구성)
3. 블록은 받은 validators는 해당 블록에서 account 계정 변화를 proposer와 같은 방식으로 replay해서 root hash가 같은지로 검증한다.

한마디로 전체적으로 모든 값이 제대로 변경되었는지만 체크하는 방식으로만 머클트리를 사용하면 어떤가 하는 아이디어였어요.

[2018-09-20 06:46] kyehyukahn commented on #308
제 설명이 부족하면 아래 그림이라도....

common buget 10000000--
                                               |--------hash1-----------
pf budget 100000----------
                                                                                          |---- root hash (변경사항 요약)
account1 1000 -------------
                                                |--------hash2----------
account2 3000-------------

[2018-09-20 06:46] spikeekips commented on #308
It should be the public address of proposer node

I wish the fee of inflation transaction should be `0`.

The sequence id also be meaningless, so `0`

Signing by proposer node.

[2018-09-20 06:56] spikeekips commented on #425
@Charleslee522 I want to listen your opinion.

[2018-09-20 07:08] Geod24 commented on #425
[Source](https://blog.golang.org/package-names) (Under "Naming package content")

[2018-09-20 07:10] spikeekips commented on #425
@Geod24 It is too wide, there are another `BlockXX` under `block`. It is only for `block.Block`.

[2018-09-20 07:16] Charleslee522 commented on #425
@spikeekips Oh, sorry for late. I know what you worried about.
My style is like this.
[code]
also I want to rename block.Block but I don't have another option yet :)
How about block.Type?

[2018-09-20 07:43] anarcher commented on #425
In my style, `block.Block` is OK :->     Otherwise, I like @Charleslee522's style. :->

[2018-09-20 07:50] spikeekips commented on #425
I also like them. Anyway, block.Header is still used only for block.Block. :) I suggest how about renaming it :)

[2018-09-20 07:53] Charleslee522 commented on #425
Aha, I missed something :)
@spikeekips Then how about this?
[code]

[2018-09-20 07:53] Geod24 commented on #425
Or just `header` ? 🤔

[2018-09-20 07:54] spikeekips commented on #425
New name, the other package must access to block.blockHeader, especially /node/blocks. :)

[2018-09-20 07:57] spikeekips commented on #425
This is just finding new good name. Please consider seriously :)

[2018-09-20 07:59] anarcher commented on #425
And `block.BlockHeader` is  OK for me. :-)

[2018-09-20 11:46] #397 closed

[2018-09-20 22:06] spikeekips commented on #308
related to #34

[2018-09-20 22:07] #36 closed

[2018-09-20 22:08] spikeekips commented on #98
Resolved by #140

[2018-09-20 22:08] #98 closed

[2018-09-20 23:03] spikeekips commented on #63
The basic step is almost same with https://github.com/bosnet/sebak/issues/308#issuecomment-423050648 .

If we will distribute tx fee in every block,

1. Proposer injects the new operation, `OperationCollectTransactionFee` into proposer's special `Transaction`(this also will be used for inflation in every block)
1. In `OperationCollectTransactionFee` has fields:
  - `Amount`: `Amount` is the total

[2018-09-21 06:52] #322 closed

[2018-09-26 23:08] spikeekips opened #451 "`Ballot.H.Hash` is empty"
[code]

[2018-09-27 01:55] soonkuk opened #455 "Implement the operation type for membership"
Membership should be stored in the blockchain.
We should implement the transaction operation type about membership.

[2018-09-27 05:09] #400 closed

[2018-09-27 05:39] #451 closed

[2018-09-27 06:37] #307 closed

[2018-09-27 07:47] #242 closed

[2018-09-27 09:25] kfangw opened #456 "Refactor: Layered design for `block` package"
The block package is a model(or schema) of DataBase.
Hence, The block package should not depend on any other packages except common and storage.
But other packages use it as a data entity.
If it is accepted, packages are more loose coupling high cohesion
And then, followings are possible

- Move finishOperationXXX functions from `checker` to operation method
- ...

[2018-09-28 04:17] Geod24 opened #458 "Improve the integration test suite"
The current integration test framework has a few limitation:
- It uses a polling approach
- It requires putting a network up to update
- It only test the APIs

Here's how it could be improved:

## Check what is written to the DB in addition to the APIs

Ultimately we want to check that the DB is correctly written, and not just trust the API.
That is not trivial to do, as this DB lives in a contain

[2018-09-28 04:18] soonkuk opened #459 "PF issuance"
Generate coin issuance for PF budget

[2018-09-28 04:19] soonkuk commented on #459
Generate coin issuance for PF

[2018-09-28 04:53] soonkuk commented on #459
#308

[2018-09-28 05:00] soonkuk opened #461 "Block inflation"
An inflaction is generated for every block like as the coinbase.

[2018-09-28 05:01] soonkuk commented on #461
This issue references #308 (Implement regular coin issuance)

[2018-09-28 07:12] spikeekips commented on #439
@kfangw At this time, we can simply verify the BlockTransaction with original message, that is, checking Hash is matched, but it's not what we want.

[2018-10-01 03:33] kfangw commented on #439
fixed by #445

[2018-10-01 03:33] #439 closed

[2018-10-01 03:34] kfangw commented on #438
fixed by #454

[2018-10-01 03:34] #438 closed

[2018-10-01 08:28] kfangw opened #471 "API client for testing and SDK"
To make API test easy and support SDK in advance,
API client module needed.

There is an `HTTP2NetworkClient` already in `network` package,
but this client is only for communication for nodes

[2018-10-02 01:33] #311 closed

[2018-10-02 01:45] soonkuk commented on #455
Ok I got it. I'll refer to PR #457

[2018-10-02 02:00] outsideris opened #473 "`linked` field doesn't print with `--verbose`"
When I test signature with `create-account`, `--verbose` doesn't print `linked` field in operations but it is used to making hash.

[code]

[2018-10-02 02:04] Geod24 commented on #473
@outsideris : See https://github.com/bosnet/sebak/issues/434
The problem is that the JSON is not what's used for hashing, it's the Go-side data structure.
Currently when we send a request, if the `linked` field is empty (and most of the time, it will be), it is omitted.

[2018-10-02 03:40] #91 closed

[2018-10-02 04:18] soonkuk commented on #455
@kfangw Ok I got it. I'll refer to PR #457.

[2018-10-02 05:36] outsideris commented on #473
@Geod24
However, when I made `tx`, I should insert an empty string in RLP

[code]

Otherwise, the hash is not the same. How clients realize the linked field required even if it is empty.

[2018-10-02 08:43] kfangw commented on #455
The transaction needed to be signed by two actors.
- Sender account
- Voting Server
Hence,
The transaction header's form should be revised like this

[code]

When validating the `Register` and `Deregister` operation,
The GTTPSignature is used to verify it.

This structure is a little bit tricky but, isn't it makes sense conceptually?
@spikeekips we need to talk about this in person with @outsideri

[2018-10-02 08:50] spikeekips commented on #455
Signing by account is necessary? I listened, decision of membership is done by voting server and it is GTTP. IMHO, we don’t need the another signing except voting server’s signing.

[2018-10-02 10:14] #63 closed

[2018-10-02 10:16] spikeekips commented on #34
duplicated #461

[2018-10-02 10:16] #34 closed

[2018-10-02 10:20] spikeekips opened #479 "Fill the missing transaction from proposed Ballot"
Under new design of current ISAAC, there will be the unknown transaction from the proposed Ballot. During consensus, these missing transactions must be fetched from proposer. This feature is already reside in code, `runner.GetMissingTransaction()`, we need to fill the code in it. :)

[2018-10-04 01:25] Charleslee522 opened #481 "wrong error log message `invalid proposer transaction found`"
[code]

When I run self mode or multiple nodes, `invalid proposer transaction found` is occurred in every block.
https://github.com/bosnet/sebak/blob/master/lib/node/runner/node_runner.go#L501
->
https://github.com/bosnet/sebak/blob/master/lib/node/runner/checker_ballot_transaction.go#L152
In this line, checker.Ballot is empty.

[2018-10-04 02:44] anarcher commented on #395
I am OK to use go mod instead of dep. But about picking default/running (in production) go version , we should do conservative.
Personally I would like to choose which version of big project such as docker or k8s choose in their stable version. :-)
But maybe go1.11 seems look good to run production:-)

[2018-10-04 04:42] Geod24 commented on #395
Docker seems to be [pretty eager to upgrade](https://github.com/docker/docker-ce/commit/38974ef6a25315017aa9fd79fa78420d7a422fb0).
I couldn't find anything conclusive in k8s.

[2018-10-04 04:50] Geod24 opened #484 "TestBlockTime is extremely slow"
[code]

Given that our timeout in the CI is 5m, this takes more than 20% of the total time.

[2018-10-04 07:12] #395 closed

[2018-10-04 07:12] Geod24 commented on #395
Fixed in #478 (See also #485 )

[2018-10-05 10:01] anarcher opened #496 "Testing with sync processing"
For sync processing testing, we need to use node instances and tools. (test env.)
 First is first,We figure out how do  testing sync env or tools without CI. :->

[2018-10-06 12:10] #461 closed

[2018-10-06 12:10] #481 closed

[2018-10-07 04:35] spikeekips opened #497 "Prevent LocalNode To Connect Itself in `ConnectionManager`"
[code]

This is the log of 'integration-tests'. There are 3 node,

* `GDIR.M6CC`
* `node2`
* `node3`

`GDIR.M6CC` is the 'LocalNode'. The problem is, the LocalNode trying to connect to itself. :)

[2018-10-10 04:02] spikeekips opened #501 ""ballot has different proposer" of 'Expired' Ballot"
[code]

I found these kind of errors too often in 'integration test' log. According to https://github.com/bosnet/sebak/blob/05b6979ca1837eefb964ac7c2e31ae7b6aef0b1a/lib/node/runner/isaac_state_manager.go#L214 , `broadcastExpiredBallot()` creates Ballot, which has `LocalNode` as proposer, not selected proposer of the round. I think this is the problem. The expired ballot should be created with the

[2018-10-10 04:17] #479 closed

[2018-10-10 06:07] spikeekips commented on #497
@Charleslee522 The reason I pointed in this issue, is possible, the current failure of the integration test(randomly failed too often) can be solved, so I suggest we should skip the integration test until this issue will be solved.

[2018-10-10 07:01] anarcher opened #502 "Client API: Info"
What do you think about `/api/v1/info` handler for status and heath checking?

Exmaple:

[code]

- Is this client api handler need?
- Which fields do we need for this api endpoint?

[2018-10-10 07:13] spikeekips opened #503 "Add node itself As it's validator automatically"
Currently the node must set itself as it's validators(`--validators`) with `self`. It will be better to set node itself as it's validators without `self'.

[2018-10-10 10:22] zzim2x opened #505 "All hal.Link(s) do not include path prefix and `/operations/{id}` API doesn't exist."
* relation `accounts` => `account` is correct.
* All links do not include path prefix.
* There is operation hashes. but there isn't tx hashes.

[code]

* relation `transactions` -> `transaction` is correct.
* All links do not include path prefix.
* Do I have to parse the link to get the tx hash, or call an additional API request(url is not correct)? It's tough to get a tx hash. zz

[code]

[2018-10-10 10:46] zzim2x opened #506 "CORS support"
All requests from any browser should be allowed.

[2018-10-10 11:09] zzim2x opened #507 "Client API : get a list of frozen accounts"
We need to be able to get a list of ‘create-account’ operations that are still frozen.

[2018-10-10 13:06] anarcher opened #508 "Support node profiling"
For  CPU & Memory profiling, Prepare sebak profiling enabled.
Maybe node run options for enable/disable profile.

[2018-10-11 00:55] Geod24 commented on #508
Here's what I do to get profiling results from the tests:
[code]

I haven't done it for a running node yet though.

[2018-10-11 06:37] zzim2x opened #512 "No way to get target address and amount. There is only a source address."
* target, amount
https://github.com/bosnet/sebak/blob/1eada5c812dd85eb077d74313183a127abb869b6/lib/network/api/resource/operation.go#L22

[code]

related #505

[2018-10-11 09:55] kfangw commented on #505
I take this.

[2018-10-12 00:32] #497 closed

[2018-10-12 01:48] #375 closed

[2018-10-12 10:12] #506 closed

[2018-10-13 05:09] spikeekips opened #520 "Recent Integration-Test Failure"
Symtoms
* Integration test is failed too often, thereagainst successes are rare.
* Integration test is failed in CircleCI and also local env.
* The failed test case is randomly changed.
* Too many EXPIRED ballot.

More details story and analysis of logs can be found at https://gist.github.com/spikeekips/391287344a91e1a9f8950c5ca32570eb .

[2018-10-15 02:15] #520 closed

[2018-10-15 02:29] #501 closed

[2018-10-15 02:44] #503 closed

[2018-10-15 03:49] anarcher commented on #508
Test run with https://github.com/bosnet/sebak/commit/31676f8c713b1baa79de357f55f19c1c81c571b2

![31676f8c713b1baa79de357f55f19c1c81c571b2](https://user-images.githubusercontent.com/12271/46929023-7c9b3700-d078-11e8-9041-850142cd53ab.gif)

[2018-10-15 05:04] Geod24 opened #527 "Add LevelDB table documentation"
Currently what is stored in the LevelDB tables is not documented.
It makes diving into the code, and sometimes reasoning about it, harder than should be.

[2018-10-15 07:15] kfangw commented on #294
@soonkuk congrats for the first commit 👍

[2018-10-15 07:39] soonkuk commented on #294
@kfangw Thanks~! :)

[2018-10-15 23:49] Charleslee522 opened #533 "The error message continues without stopping in sync"
In this code,
[code]

The error log is output as:
[code]
I think that is because height 7 is requested to sync but block(7) is saved before running syncer.
In this situation, this error message continues without stopping.
@anarcher I want you to check this. If you need more information for analyzing it, feel free to ask me.

[2018-10-16 01:00] anarcher commented on #533
module=sync node=GCDC.WBKY err="{\"code\":101,\"message\":\"`Hash` does not match\",\"data\":{}}" height=7 caller=syncer.go:256
INFO[10-16|08:33:32] fetching items from node: node2          module=sync node=GCDC.WBKY fetching_node=node2 height=7 caller=fetcher.go:105

We neet to figure out “Hash bot match”

[2018-10-16 01:13] anarcher commented on #533
Why does request sync height saved from consensus?

[2018-10-16 02:03] Charleslee522 opened #536 "Unterminated test in sync"
When I added this test and run in syncer_test.go(I've just modified height to 10 from TestSyncerSetSyncTarget),
[code]
the test is not terminated.
@anarcher Could you please check this case? I tried to resolve but I think you seem to be able to solve it in less time.

[2018-10-16 02:03] Charleslee522 commented on #536
This is related with #533

[2018-10-16 02:08] Charleslee522 commented on #533
This error will be fixed in #536

[2018-10-16 02:13] #25 closed

[2018-10-16 04:02] anarcher commented on #536
[code]

The reason which this test stuck is  `cur=2 and high=2`.  It means that `syncer` just work `height=2`.

[2018-10-16 05:44] Charleslee522 commented on #536
I missunderstood something. The `TestSyncerStartEqualToHigh` is invalid.

[2018-10-16 05:44] #536 closed

[2018-10-16 05:45] Charleslee522 commented on #533
@anarcher Sorry, I misunderstood. never mind :)

[2018-10-16 05:50] Charleslee522 commented on #533
@anarcher This error occur when wrong block is confirmed.
It is because of expired ballot. When the node confirms expired ballot and makes it to block in sync to consensus, the hash is  not matched.
I've resolved that case, but even so, I figure we should stop when occurring infinite loop.

[2018-10-16 07:52] #505 closed

[2018-10-16 08:18] kfangw opened #543 "Write Integration Test Cases by using Client module"
The client module is newly introduced recently.

By using the module, it is possible to write test cases in golang.

First of all,
Extend existing test script module to support various scenario
And draw scenarios for the end-user and write the code.

[2018-10-16 08:44] anarcher commented on #533
Can we close it? :-> @Charleslee522

[2018-10-16 08:52] soonkuk commented on #507
I will make api like this /v1/accounts/{address}/frozenAccounts.
It take input as general account address and output related froze account addresses.

It work like this.
when node save frozen account,
make key with prefix(BlockAccountFrozenCreatedPrefix) + linked address of frozen account + getuniqueIDfromUUID() and use this key for saving address of frozen account.

Then later node can find the f

[2018-10-16 08:54] anarcher opened #545 "Sync: improvement checking and waiting about previous block in sync"
Current prev block checking & waiting is NOT efficient.
In place of Infinite fetch and validate loop,  validator has to checking and waiting for prev block.
Current validator uses `observer` ,but  the use of `observer` is not suitable with this case.
I need to another approach for it. :->

- (Maybe `Waiter` or `Notifier`)?
   - `LatestSyncBlockHeightNotifier` -> too long name...
   - `SyncedHeight

[2018-10-16 08:58] #533 closed

[2018-10-16 09:29] kfangw commented on #507
As I told you in person, It is possible.
But there should be a rationale for supporting this features in SEBAK.
IMO, this requirement may be met by client-side.

@spikeekips may help you to decide it.

[2018-10-16 14:50] anarcher commented on #545
After starting this issue, I will do to figure out with current `observer` and `db.tx`. If it is caused by db timing issue, `observer.Trigger` with block can solve it... humm..

[2018-10-16 15:47] anarcher commented on #508
![image](https://user-images.githubusercontent.com/12271/47029174-d8afa980-d1a5-11e8-99e5-1c6b635eae32.png)

70% of syscalls is from `net.Conn`.. It means the node is actually network server not computing.. haha

[code]

[2018-10-16 15:55] anarcher commented on #508
![image](https://user-images.githubusercontent.com/12271/47029587-def25580-d1a6-11e8-9444-0977bd5b0d82.png)

I'm not sure but the Ed25519 signature cpu cost is dominant in message handling. :->

[2018-10-16 16:04] anarcher opened #548 "List up metrics for node"
For monitoring nodes, we need some application-level metrics such as latest block height, number of tx in tx pool, error count of api requests..

Name | Type | Note
--- | --- | ---
consensus_height | Gauge  |
consensus_rounds | Gauge |
consensus_total_txs | Gauge |
consensus_total_ops | Gauge |
consensus_validators | Gauge |
consensus_missing_validators | Gauge |
consensus_block_interval_seconds |

[2018-10-16 22:08] spikeekips commented on #507
As we know, client can not find the frozen accounts from general account at this time, (but can find general account from the frozen accounts :) ) This feature is necessary for client to find the frozen accounts from general account.

I want to suggest the new url path, `/api/v1/accounts/{address}/frozen-accounts` :)

[2018-10-17 02:43] #508 closed

[2018-10-17 02:50] anarcher commented on #502
#534  solved this issue :->  So I close it!

[2018-10-17 02:50] #502 closed

[2018-10-17 04:19] #360 closed

[2018-10-17 04:39] soonkuk commented on #507
@kfangw @spikeekips Then I will make PR for this issue.

[2018-10-17 05:00] anarcher opened #551 "Sync: Process ProposerTransaction in sync."
Current sync (and sync branch) has never known `ProposerTransaction`.
I was guessing the `ProposerTransaction` can be processed within `FinishTransaction()`... (It's my bad.)
It is one of the transactions but, It is handled differently against normal transactions.
After current sync rebase #550 , I add handling codes for `ProposerTransaction` in sync :->

[2018-10-18 02:12] Charleslee522 opened #558 "Make block time test in integration_test and remove one in unit test"
https://github.com/bosnet/sebak/pull/518#issuecomment-429704980

[2018-10-18 02:16] Charleslee522 opened #559 "sebak network not running in 3/4 nodes"
In this environment below, sebak is not running
* Threshold: 67%
* All nodes: 4
* Running nodes: 3

When I run all 4 nodes and kill one node then remaining 3 nodes keep running.
But when I start running only 3 nodes, all 3 nodes doesn't run.
It's different as I expect.

[2018-10-18 04:08] anarcher opened #560 "Twice Ratelimit headers"
[code]

Reported by @zzim2x #557

[2018-10-18 04:26] #9 closed, assigned to kfangw, zzim2x

[2018-10-18 08:03] #471 closed

[2018-10-18 08:03] #512 closed

[2018-10-18 08:03] #394 closed

[2018-10-18 08:06] kfangw commented on #507
When you implement this issue, please write an integration test for it at `tests/client`

@soonkuk

[2018-10-18 08:09] kfangw opened #564 "Post Transaction API for Client."
Now, the API uses node API handler.

replace the handler with a new one which can validate input and response its result.
The result may consist of errors or URLs for history to track progress of the tx by client

[2018-10-18 09:12] soonkuk commented on #507
OK I will do it.

[2018-10-18 10:46] zzim2x commented on #507
IMO, `prefix + general account address + block height + sequence id + UUID`

I think I need some fields.

* `source address` : general account address
* `target address` : frozen account address
* When a create-account operation was accepted, `sequence id`, `block height` and `initial amount`.
* `state` : ex) frozen, melting, unfrozen, returned.
* When an unfreeze request was accepted, `unfreeze r

[2018-10-22 01:00] Charleslee522 opened #570 "Changing proposer selection algorithm"
The proposer selection algorithm is like below.
https://github.com/bosnet/sebak/wiki/How-to-select-the-proposer
[code]

* I think the good selection algorithm is that,
   1. the proposer is changed every round.
   1. to predict the specific height and round proposer is impossible. -> next year

But in our selection algorithm, if the block is confirmed in round 1, the next proposer is same as befor

[2018-10-22 01:38] Charleslee522 opened #571 "Synchronize the time of all nodes"
There are two factors of the time in `SEBAK` periodically.
The time is used,
1. to check ballot well-formed.
1. to adjust block time to 5 sec.

[2018-10-22 02:07] Charleslee522 opened #572 "Test"

[2018-10-22 04:17] #572 closed

[2018-10-22 04:42] spikeekips opened #573 "Too slow to `finishBallot` with lot of operations"
I am currently testing SEBAK with the stress-testing tool, name is `sebak-hot-body`(https://github.com/spikeekips/sebak-hot-body). I tested with `200` operations in each transaction and `1000` concurrent transactions. The result was terrible, most of transaction was failed to check the confirmation. The logs of sebak is here,
[code]
The `ACCEPT`ed ballot went into `finishBallot()` and done well. T

[2018-10-22 15:56] soonkuk opened #575 "CLI payment.go getSenderDetails function Error"
When user makes payment transactions from same source, cli wallet can not make a transactions successful. Because cli wallet can not get the account's sequence id.

[2018-10-23 00:12] Charleslee522 commented on #573
Oh, I really want to see the result after modifying it :)

[2018-10-23 00:44] #558 closed

[2018-10-23 01:09] Charleslee522 opened #577 "The ProposalTransaction is not included in total-txs"
@spikeekips
The ProposalTransaction is not included in total-txs. Was it intended? :)

[2018-10-23 01:10] spikeekips commented on #577
No, it is bug. Thanks for this issue.

[2018-10-23 01:12] Charleslee522 commented on #577
@spikeekips Okay. I'll handle this :)

[2018-10-23 01:34] Charleslee522 opened #580 "Adding total-operations in `BlockHeader`"
I think, `total transactions` in the other blockchains means `total operations` in SEBAK.
So, I figure if `total-txs` is in blockHeader, then total-ops is also needed.

[2018-10-23 02:28] anarcher commented on #496
Fixed by : https://github.com/Charleslee522/sebak/commit/cc253a0dc87726ddfa5bdf298dc65708097f4b93.

[2018-10-23 02:29] anarcher commented on #573
It's really slow? :->  1000 * 200 is huge operations :-)

[2018-10-23 06:19] #560 closed

[2018-10-23 07:16] spikeekips commented on #573
I am writing the patch for using `leveldb.Batch`. This is the latest result with `hot-body`.
[code]
This tells,
* `10000` payments was completed for the Ballot, `6UBYV1U6BKNCi8x9SwFoMAGNXL8cwpjwKc9EJMt1RSmn`
* For storing the operations, the new patch spent from `DBUG[10-23|16:08:25]` to `DBUG[10-23|16:08:33`, it almost 8 seconds.

[2018-10-23 08:53] anarcher commented on #548
Name | Type | Note
--- | --- | ---
consensus_height | Gauge  |
consensus_rounds | Gauge |
consensus_num_txs | Gauge |
consensus_validators | Gauge |
consensus_missing_validators | Gauge |
consensus_block_interval_seconds | Summary |
tx_pool_size | Gauge |
sync_height | Gauge |
sync_errors | Gauge |
sync_duration_seconds | Summary |
api_request_total | Counter |
api_request_errors_total | Counter |

[2018-10-23 11:53] spikeekips opened #588 "Transaction Limit For `TransactionPool`"
Currently there are no limit for `NodeRunner.TransactionPool`, it totally depends on the os resource limit. 'No Limit' can exhaust memory resource, some oses like linux(OOM Killer) and osx will kill the sebak process.

* We need to add new limit for `TransactionPool`
* If over limit, the incoming transaction will get the proper HTTP status code and proper `HTTPProblem` message.

[2018-10-23 11:53] spikeekips commented on #588
@kfangw and @anarcher please consider this.

[2018-10-23 13:43] #577 closed

[2018-10-23 13:43] #580 closed

[2018-10-24 01:50] spikeekips commented on #390
I can fill the missing description of this issue :)

* Most of API relies on storage, we need to reduce the usage of storage

This is checklist.

- [ ] `BlockXX` records should be cached; except `BlockAccount`
- [ ] Caching `BlockAccount` records and it's expiration can be `1s` for considering very frequent requests
- [ ] `404` also should be cached, but it's expiration can be `1s` or `2s`
- [ ] C

[2018-10-24 03:13] cmcm2222 opened #590 "client ( mobile wallet ) send request header's content type with `charset=utf-8` automatically."
As you can see in the attached image, client send to node `payment` request with `charset=utf-8` automatically. Therefore, payment operation can not get response through api handler but `http 404 error status code`.
![contenttype](https://user-images.githubusercontent.com/23111870/47403876-228c2700-d786-11e8-9293-d9bd3bb7940e.png)

[2018-10-24 03:46] kfangw commented on #390
IMO, Redis would be satisfying the requirements.
On the Redis, It is very easy to use and set the TTL.

[2018-10-24 03:59] spikeekips commented on #390
@kfangw Yes, redis will be good. There are some libraries for various kind of the existing cache system, https://github.com/avelino/awesome-go .

[2018-10-24 04:18] anarcher commented on #390
Using redis means deploy is going to hard.
Hashicorp lru cache is not bad option IMHO

[2018-10-24 04:47] Geod24 commented on #484
Fixed by #565

[2018-10-24 04:47] #484 closed

[2018-10-24 04:49] cmcm2222 commented on #590
@kfangw I had talk with ERmind's developer, he couldn't change header's information cause the react native attach `utf-8` automatically. it's issue on react native only.

[2018-10-24 04:50] cmcm2222 commented on #590
@kfangw so I think 2nd solution looks reasonable.

[2018-10-24 05:05] kfangw commented on #590
To help ERmind, 1st option is needed.
I don't want to make it bottle neck.

[2018-10-24 05:18] Geod24 commented on #588
As discussed in #589 this should only apply to client-submitted transactions.
If we apply it to the whole transaction pool, we might find ourselves unable to reach consensus because we're missing transactions.

[2018-10-24 05:19] cmcm2222 commented on #590
@kfangw  you're right.
I will take that.

[2018-10-24 06:12] spikeekips commented on #588
@Geod24 I agree, only for client-side.

Anyway the last one you said, if some transactions in ballot are not found in `TransactionPool`, it will be fetched from proposer during `Checker` processes.

[2018-10-24 07:12] #551 closed

[2018-10-24 07:52] spikeekips opened #592 "Skip `Checker` process for incoming ballot is broadcasted by self"
The current flow for incoming ballot,

1. proposer node makes the ballot after validating the ballot and it's transactions
1. proposer node broadcasts the ballot, **including itself**
1. proposer node receives the broadcasted ballot by itself
1. proposer node validates again

When the number of transactions and it's operations are small, everything is fine, but with big operations and transactions

[2018-10-24 07:52] spikeekips commented on #592
@Charleslee522 Please check this issue. :)

[2018-10-24 07:56] Geod24 commented on #592
@spikeekips : Don't we also have an issue where node A broadcast to B and C, and B and C broadcast back to A ?

[2018-10-24 07:57] Charleslee522 commented on #592
@Geod24 Yes, Exactly. But it would be filtered.

[2018-10-24 07:57] spikeekips commented on #592
@Geod24 Yes, we have, but as we know the infinite broadcasting is filtered by checking TransactionPool :)

[2018-10-24 08:02] Geod24 commented on #592
@spikeekips : Correct, and we cannot prevent indirections (A => B => C => A). But we could prevent A => B => A which would increase performance.

[2018-10-24 08:03] cmcm2222 commented on #590
@kfangw  I followed your advice, but still same issue.

[2018-10-24 08:04] spikeekips commented on #592
@Geod24. Absolutly right.

[2018-10-24 08:06] Charleslee522 commented on #592
@spikeekips @Geod24 Then we should skip re-validation and re-broadcasting.

[2018-10-24 10:39] anarcher commented on #390
- https://github.com/coocood/freecache
- https://github.com/karlseguin/ccache
- https://github.com/allegro/bigcache

[2018-10-24 10:46] anarcher commented on #390
IMHO, LRU+ observer based eviction is better than time-based

[2018-10-24 11:35] spikeekips commented on #390
@anarcher: The cache responses are handled by URL-based? If it is, how about CacheMiddleware?

It will be good, if we can manage different cache policy by handler, as I described BlockAccount should be managed differrently.

[2018-10-24 22:17] #357 closed

[2018-10-24 23:33] Charleslee522 commented on #543
@kfangw It is done, right?
If you tagged `fixes #543` or `resolves #543` in #556, then this issue would have been closed automatically :)

[2018-10-25 01:04] #543 closed

[2018-10-25 02:08] Charleslee522 opened #595 "Prevent direct recursive broadcasting"
from https://github.com/bosnet/sebak/issues/592#issuecomment-432553837

[2018-10-25 02:08] Charleslee522 commented on #592
In this issue, I'll handle double validation only.

[2018-10-25 02:09] spikeekips commented on #592
@Charleslee522 I want to share with you about preventing re-validation :)

[2018-10-25 03:04] Charleslee522 opened #598 "`TestCheckInflationBlockIncrease` test fails sometimes in ciercleci"
[code]

[2018-10-25 03:07] Charleslee522 commented on #598
@spikeekips I figure, it's because of `HTTP2Network`.
I think these kind of tests would be better in integration-tests or E2E test. How do you think? :)

[2018-10-25 03:11] spikeekips commented on #598
@Charleslee522 Which PR did you test? `TestCheckInflationBlockIncrease` is not failed in most cases.

[2018-10-25 03:13] Charleslee522 commented on #598
@spikeekips https://github.com/bosnet/sebak/pull/594 :)

[2018-10-25 03:16] spikeekips commented on #598
@Charleslee522 In #594, sometimes passed and sometimes failed, we should change the testing code at this time. As you know, I agree this kind of test should be done in E2E test :)

[2018-10-25 08:14] anarcher commented on #287
@kfangw I think this PR can be closed. what do you think?

[2018-10-25 08:28] kfangw commented on #287
@anarcher agreed

[2018-10-25 08:28] #287 closed

[2018-10-25 09:48] spikeekips opened #606 "New faster serialization system for performance; replacing `json`"
There are tons of benchmark result, `json` is slower than XXX. Recently I am digging into #573 and `json` serializing hinders the validation messages(tx, ballot) and storage jobs, especially `LevelDBBackend.Get()`.

Several benchmark results listed the high ranked,
- [ ] aviro
- [ ] messagepack
- [ ] protobuf

If you have another one, please recommend it.

[2018-10-25 09:49] #590 closed

[2018-10-25 09:55] spikeekips commented on #606
I want to listen you guys, @zzim2x @outsideris .

[2018-10-25 10:00] Geod24 commented on #606
There's already https://github.com/bosnet/sebak/issues/434

[2018-10-25 10:01] Geod24 commented on #99
Fixed in #211

[2018-10-25 10:01] #99 closed

[2018-10-25 10:01] spikeekips commented on #606
@Geod24 Thanks.

[2018-10-25 10:01] #606 closed

[2018-10-25 13:51] anarcher commented on #390
It's just prototyping.

[code]

[2018-10-25 14:46] spikeekips commented on #434
There are tons of benchmark result, `json` is slower than XXX. Recently I am digging into #573 and `json` serializing hinders the validation messages(tx, ballot) and storage jobs, especially `LevelDBBackend.Get()`.

Several benchmark results listed the high ranked,
- [ ] aviro
- [ ] messagepack
- [ ] protobuf

If you have another one, please recommend it. I want to resolve this issue within this i

[2018-10-26 04:04] Charleslee522 opened #611 "Split message channels"
In short, expired ballot is made even in self mode.

When I run the `sebak` and push so many payment tx messages with `sebak-hot-body`,
the `EXPIRED` ballot is made even though it is self mode.

The result is like this.
<img width="524" alt="2018-10-26 1 00 49" src="https://user-images.githubusercontent.com/15343839/47543864-361ec580-d91f-11e8-8440-6eae498aa061.png">

There are many errors because

[2018-10-26 04:08] Charleslee522 commented on #611
As @Geod24 said in meeting, we should split messages from known peers and the others.

[2018-10-26 04:34] Charleslee522 opened #612 "Validate a tx one time"
When I add log message before calling `ValidateTx()`,
if a node is the proposer, then the node validate a transaction three times like this.

[code]

A node validates the transaction when,
1. receiving transaction.
2. proposing a ballot with the transaction.
3. receiving a `INIT` ballot from proposer.

We should make it once.

[2018-10-26 04:43] Charleslee522 commented on #612
How about this?
1. do in receiving transaction
1. not in proposing and receiving `INIT` ballot
1. after NewBlock, validate again only txs which have changed source

[2018-10-26 05:18] Charleslee522 commented on #612
And, we don't have to do this also because we cannot push transaction from the same source into `transaction.Pool`, right?

So I just need to remove these validations(in proposing and receiving `INIT` ballot)

[2018-10-26 05:32] spikeekips commented on #612
@Charleslee522 I think it is matter of **when** validate tx. In first receiving time, `ValidateTx(tx)` is correct, but after proposing it in ballot, `Validate(tx)` can be invalid, because the account state can be changed.

[2018-10-26 06:44] Charleslee522 commented on #612
@spikeekips Exactly. So I think we need to implement re-validation every block.
But only transaction which has source in last block need to be validated.

[2018-10-26 07:55] Charleslee522 commented on #611
Sorry, I misunderstood.
https://github.com/bosnet/sebak/blob/master/lib/node/runner/api_node.go#L105

The `TransactionMessage`s from nodes have the other channel with `BallotMessage` and `ConnectMessage`.
So the `EXPIRED` ballots above are not because of one channel.
But still we need the channel splitting(or the other solution) since a bad guy can send huge number of ballots.

[2018-10-29 06:52] Geod24 opened #619 "Add some transactions to long_term integration test"
Currently this test is just 3 nodes sitting idle.
We should do a few transactions to make sure there's not something *deeply* wrong.

[2018-10-30 04:27] Geod24 opened #622 "Make sure that pending transactions are not lost on restart"
With MainNet around the corner, we will sometimes need to update sebak all nodes at once.
We should make sure that nodes do not loose their pending txs on shutdown.

[2018-10-30 05:52] anarcher commented on #622
I think that we need a tx pool with WAL ( or to keep in  file or persistend backup)

[2018-10-30 05:57] soonkuk commented on #459
PF issuance is a kind of inflation.
This inflation is a special transaction only congress voting account can do and this transaction pays no fee.
To do this, SEBAK knew the congress voting account from starting.
The congress voting account makes transactions for saving proposal, voting result and generate issuance.
The congress voting account use valid secret key and public address to sign transac

[2018-10-30 07:07] soonkuk opened #623 "Add total membership field and PR hash to congress-voting-result"
Currently voting condition is `number of yes - number of no should be more than 10% of total membership count`.
For this condition is reflected to congress-voting-result operation,
we need total membership field in congress-voting-result operation.
And congress-voting-result operation should refer saved proposal.
We need also Proposal hash field in congress-voting-result operation.

[2018-10-31 03:20] anarcher commented on #390
[code]

[2018-10-31 05:59] Geod24 commented on #390
@anarcher :
- What's the unit of 10000 (line 2) ?
- Expire at 1s is very low, isn't it ?
- What are the two status codes for ?

Other than that, it looks pretty expressive 👍

[2018-10-31 06:14] anarcher commented on #390
-  What's the unit of 10000 (line 2) ?
  Yes, max item limit.

- Expire at 1s is very low, isn't it ?
  It's an example or sample.  and reference it

- What are the two status codes for ?
Reference it :

[2018-10-31 06:54] Geod24 commented on #390
I agree with this, and I think it's also more correct.
This this, I expect that the expiration can be fairly high (hours).

[2018-10-31 06:59] anarcher commented on #390
This this, I expect that the expiration can be fairly high (hours).

I would like to do time expire based.

[2018-10-31 07:17] spikeekips opened #625 "The alive nodes is under threshold, consensus should be stopped"
At he booting state, node checks the validators are alive or not, and then start to consensus. During consensus, if some validators are dead or does not respond and the number of alive validators are under threshold, what is the proper action of node?

Currently if under threshold, node keep producing `EXPIRED` ballot, because of timeout. I think, node should be back to the `node.StateBOOTING` or

[2018-10-31 07:17] spikeekips commented on #625
@Charleslee522 please consider this issue.

[2018-10-31 08:34] Geod24 commented on #390
What changed your mind ? Also, what is the strategy to avoid serving stale data ?

[2018-10-31 23:12] spikeekips opened #626 "`Block.TotalOps` is missed in node info API response"
[code]

[2018-11-01 02:45] Geod24 commented on #434
We checked with @outsideris the disk usage on testnet. Turns out that we are producing around 0.1Mb/second of data with 0 traffic.
This means:
- 144 Mb / day
- Almost 53 Gb / year

And this is for an empty network, without transactions, nor trust contract running.
For comparison, the [bitcoin blockchain](https://www.statista.com/statistics/647523/worldwide-bitcoin-blockchain-size/) which started i

[2018-11-01 02:47] #626 closed

[2018-11-01 09:59] spikeekips opened #629 "Rate limit for 'POST'"
Currently we already applied the rate limit for API in api and node. As we expected, the most request for api is `GET` and easily can be reached to the limit like getting account information. I think we should open to submit the transactions in spite of over rate limit of client.

There are various way to support this feature, I suggest simple way.

- [ ] add new option, `--rate-limit-api-post`, i

[2018-11-02 02:15] Geod24 commented on #424
Fixed by #591

[2018-11-02 02:15] #424 closed

[2018-11-02 02:20] Geod24 commented on #97
That was fixed since we don't use dep anymore

[2018-11-02 02:20] #97 closed

[2018-11-02 04:54] spikeekips opened #631 "Noisy colored log"
The detailed description is not need :)

<img width="734" alt="screen shot 2018-11-02 at 1 53 03 pm" src="https://user-images.githubusercontent.com/174565/47894527-bc4e8500-dea6-11e8-85e5-54b9b3d01e66.png">

I added `--log` option to store log messages to file, but the file contains the terminal sequence chars, too noisy to read. The `log15` does not detect terminal mode automatically.

[2018-11-02 07:11] #631 closed

[2018-11-04 05:29] spikeekips opened #637 "New block created, but proposing same block height after timeout"
[code]

This log messages said,

1. new block was created. `height=7` `round=0`
1. timeout occurred in https://github.com/bosnet/sebak/blob/master/lib/node/runner/isaac_state_manager.go#L161
1. propose new ballot with `height=7` `round=1`

[2018-11-05 02:46] anarcher opened #639 "Broadcating tx with client api only"
Currently, Both of client API and node API tx handlers are broadcasting txs to all validators.
It makes to increase tx receiving and handling. (Some nodes get many same tx * N(num of nodes) ).

I think that client API tx handler broadcasts to all nodes, but node API tx handler doesn't.

[2018-11-05 03:25] spikeekips opened #640 "Found block height is behind"
Recently I found that some node has behind `Block.Height` during hot body test. I ran hot body for 5 minutes and each node has block height like this,

[code]

I guess if some nodes lag behind block height, `syncer` will follow up to the latest, but it's not. The detailed node logs can be found at https://gist.github.com/spikeekips/701624a7c3662ca8282db7f9a0ca0363 .

[2018-11-05 03:59] anarcher commented on #640
According to `GARD.SFM6.log`,  The fetcher did try to fatch but failted downloading via block api.
I think this is a reason that GARD.SFM6 doesn't have the same height. And fetcher tries to fetch with `172.31.22.130` and `172.31.22.219` too.

[code]

[code]

[2018-11-05 05:05] spikeekips commented on #622
In the current scenario, the lost transactions could not be found thru `/api/v1/transactions/{hash}`, so the client fails to check, they will send it again. This feature will make sebak to be more stable.

[2018-11-05 06:12] #564 closed

[2018-11-05 06:13] spikeekips commented on #548
If we can in 6th iteration before v0.1.0, this metrics will be useful to analyze and debugging.

[2018-11-05 06:14] spikeekips commented on #545
Is this issue closed?

[2018-11-05 06:26] #640 closed, assigned to anarcher, Charleslee522

[2018-11-05 06:28] #72 closed, assigned to nobody

[2018-11-05 06:32] spikeekips commented on #31
#32

[2018-11-05 09:29] anarcher opened #646 "More readable logging message"
Current log message like below:
[code]

If we print with message field like below:
[code]

[code]

But, It is bascially multiline log message.. We need to figure out how to delimite each of log messages.
It is not important issue,but Do you have idea for readable log message? :->

[2018-11-05 09:37] #639 closed

[2018-11-05 10:53] Geod24 opened #648 "Do not echo back on successful POST on api/transaction"
At the moment, after a transaction is successfully POSTed, we just echo it back [with the hash](https://github.com/bosnet/sebak/blob/aa4ff033fed5c18a2e36982b8b7f93c3e7553030/lib/node/runner/api/transaction_post.go#L50-L52).
This is not actually useful to anyone: the caller can just save the transaction, and since the tx is signed, [s]he already know the hash.

[2018-11-05 14:48] geunwooLIM opened #649 "Installation error"
How can I install the sebak?

I follow the installation section in Wiki, but error occur.

Let's say my workstation directory is "/home/boscoin".

I install the sebak in that directory using git clone and now I get the directory "/home/boscoin/sebak"

and I also set PATH of go lang as "export GOPATH=/home/boscoin/sebak"

and then I install it but error occur as bellow
cannot find package "some dir

[2018-11-05 16:09] Geod24 commented on #649
Could you tell us what your `go version` is ?

[2018-11-06 03:21] spikeekips opened #650 "`IsWellFormed(networkID)` to `IsWellFormed(config.Config)`"
This is derived from #644 . `Operation.IsWellFormed()` will only have `config.Config` as argument, so it will be good that the `Transaction.IsWellFormed()` and `Ballot.IsWellFormed()` also will have same shape, `config.Config` as only argument instead of 'networkID'.

- [x] `config.Config` will have `NetworkID`
- [x] `Transaction.IsWellFormed()` will have `config.Config` as argument
- [x] `Ballot.

[2018-11-06 05:17] geunwooLIM commented on #649
I downloaded go1.11.2.linux-amd64.tar.gz and install it but when I type in command line "go version", the result is "go version go1.6.2 linux/amd64"

[2018-11-06 05:20] Geod24 commented on #649
Then you most likely have another version (1.6.2) installed which is used to build sebak instead of the one you downloaded (1.11). You can try to use the path of the binary directly instead.

[2018-11-06 06:48] soonkuk opened #654 "null operation value from `api/v1/accounts/{id}/operations`"
Getting operations from `api/v1/accounts/{id}/operations` is not working.
It shows only null value.
I guess the reason may be that operation was not saved.

[2018-11-06 06:50] Geod24 commented on #654
I'm also having issue with delayed operations after https://github.com/bosnet/sebak/pull/620 was merged.

[2018-11-06 07:32] #381 closed

[2018-11-06 22:58] spikeekips opened #656 "`sebak wallet payment` still uses `/node/message`"
After #641, the client must send a transaction to `/api/v1/transactions`. Current cmd payment still uses `/node/message`.

[2018-11-07 00:04] #573 closed

[2018-11-07 00:04] #612 closed

[2018-11-07 00:09] spikeekips opened #659 "New way to connect to the other nodes"
~~Originally `/connect` was devised for connecting nodes each other, so `/connect` will send the node information and the the other node checks it. The missing thing is if the node information is updated like it's endpoint or it's validators, the other nodes should update also validators information. With updating validator information, the node will broadcast to the updated endpoint without resta

[2018-11-07 05:09] #656 closed

[2018-11-07 05:19] zzim2x commented on #548
ToT.! 👍
It looks good. I'll scrape them.

[2018-11-07 06:15] Charleslee522 opened #662 "Performance issue in `TransactionPool` Hashes"
Please see https://github.com/bosnet/sebak/blob/d02013da616a6ef19097be03929cb189f55f650e/lib/transaction/pool.go#L84

I guess, the `transaction.Pool.hashes` field type is string slice not `map[string]bool` because the order is important.
I think it's okay now, because there are less or equal than 1000 transactions in one block,
but later we should be careful.

[2018-11-07 06:48] spikeekips commented on #637
@Charleslee522 Okay, I will check it with hot-body again. This issue may need a bunch of time to be examined, so I suggest this issue can be out of this iteration, how about that?

[2018-11-07 06:48] #654 closed

[2018-11-07 06:53] spikeekips commented on #662
@Charleslee522 Yes, I also it will be performance burden. To solve this issue at this time, we can use some ordered map like https://godoc.org/github.com/stojg/golib/sortedmap .

[2018-11-07 06:54] Charleslee522 commented on #637
@spikeekips If it is not critical, it is better. And I'm looking forward to resolved from https://github.com/bosnet/sebak/pull/661/commits/d46e64cfb07ed403ced655d82c2ead64fb05cfb9.

Please check this after merging https://github.com/bosnet/sebak/pull/661

[2018-11-07 06:58] Charleslee522 opened #663 "Performance burden in `BallotTransactionsAllValid`"
https://github.com/bosnet/sebak/blob/d02013da616a6ef19097be03929cb189f55f650e/lib/node/runner/checker_ballot_transaction.go#L181

Even though there are too many `InvalidTransactions`, we don't have to find all invalid transactions.
When only one invalid transaction is found, we can stop.

[2018-11-07 07:52] spikeekips commented on #663
@Charleslee522 Did you check

https://github.com/bosnet/sebak/blob/5d7e1d08317e2703006cb060f2a1156b43706df7/lib/node/runner/node_runner.go#L558

If `CheckTransactionsOnly` is `false`, we already stop validation and `CheckTransactionsOnly` is `true` in `proposeNewBallot()`

[2018-11-07 08:06] Charleslee522 commented on #663
@spikeekips Oh, I'll check it. Thanks :)

[2018-11-07 08:18] zzim2x opened #667 "Client API: /operations and /operations/{id} are not implemented."
I don't know whether these APIs should exist. I think our explorer probably uses them.

[2018-11-07 08:29] zzim2x opened #669 "Client API: /accounts/{address}/operations filter not working in some cases."
There is no result of `/operations?type=xx` when someone has many operations owned by self.

[2018-11-07 08:31] anarcher commented on #667
Oh, Currently we don't have it. ㅠㅠ

[code]

[2018-11-07 08:33] Geod24 commented on #667
Do we need it though ? I don't think we should have it, what's the utility ?

[2018-11-07 08:35] Charleslee522 commented on #662
@anarcherThis is helpful for you.
But as I said, I think it's not that big issue now. I'm just worried about near future.

[2018-11-07 08:36] spikeekips commented on #662
Anyway, the searching and update slice is big issue for here.

[2018-11-07 09:14] anarcher commented on #662
I guessed that oldest hashed are removed as older order(lt means that 0..10 / 100 ) but this could be bad performace.  l told that with @Charlesllee522 and we have another approach for it :-)

[2018-11-08 00:48] Charleslee522 opened #674 "Checking all address and balance"
I think we should testing and monitoring that total balance is consistent across many transactions.
For example, we can make new test like this.
1. Run sebak
1. Send many transactions
1. After n height, total balance is genesis + inflation.

This is a really important in managing the Mainnet.

So we need API or something for getting all public addresses.

[2018-11-08 00:53] Charleslee522 opened #675 "Monitoring and alerting tool for sebak"
We need a tool for monitoring and alerting for `SEBAK`
The monitoring all nodes list is,
* height
* n of txs in TransactionPool
* node state(consensus, sync)

The alerting list is,
* Next block is not stacked for more than n seconds
* n of txs in TransactionPool is bigger than n
* m nodes are not in consensus state in all n nodes
* m nodes have different height with the others
* ...

[2018-11-08 00:54] Charleslee522 commented on #675
Feel free to add to the list :)

[2018-11-08 01:49] spikeekips commented on #667
Me too. @zzim2x Please let us know why.

[2018-11-08 01:53] spikeekips commented on #2
I think our cli command should provide the **basic** features like transaction history.

[2018-11-08 01:54] Geod24 commented on #674
Would it be better to have an external tool to do that kind of checks / report ?

[2018-11-08 01:56] spikeekips commented on #674
@Charleslee522 This issue also can be listed in #675

[2018-11-08 01:58] Charleslee522 commented on #674
@Geod24 That's better. But can we know all addresses from sebak by existing API?

[2018-11-08 02:28] soonkuk commented on #575
@spikeekips Sorry. I forget close this.
This issue is resolved.

[2018-11-08 02:55] spikeekips commented on #39
This issue will be handled by another process.

[2018-11-08 02:55] #39 closed

[2018-11-08 03:26] zzim2x opened #678 "Client API: block-height doesn't exist in the response of `/api/v1/transactions/{hash}`"
I can't figure where a transaction is.

[2018-11-08 03:29] zzim2x opened #679 "Do you have a plan to implement `/api/v1/blocks/{height}` or whatever?"
I think that our explorer would need it.

/api/v1/blocks/{height}/transactions ?

[2018-11-08 03:59] zzim2x opened #680 "Txs or operations are not indexed when someone received a tx."
Payable operations such as payment, create-account, inflation, collect-tx-fee, etc should be indexed.

Any payable operations should exist on a list of operations of the target account.
Any transactions having payable operations should exist on a list of transactions of target account.

[2018-11-08 04:00] soonkuk opened #681 "Validating Proposal Transaction with specific account key"
A proposal transaction should be proposed by the unique account.
We did not verify it currently.
To do this, specific account key should be set when SEBAK starting.
And nodes should verify the proposal transaction whether it was signed by specific account key.

[2018-11-08 04:04] soonkuk opened #682 "Apply no-fee to a transaction related to frozen account."
Apply no-fee to a transaction related to frozen account.
It affects freezing, unfreezing request and unfreezing payment.

[2018-11-08 04:07] #575 closed

[2018-11-08 04:43] Geod24 commented on #2
Yep, that comment date back from the time I thought we'd had a separation.
It makes sense 👍

[2018-11-08 05:07] #662 closed

[2018-11-08 05:34] #650 closed

[2018-11-08 05:35] Geod24 commented on #650
Done in #683

[2018-11-08 06:03] Charleslee522 commented on #682
I think it's urgent.

[2018-11-08 06:15] anarcher commented on #675
#548

Prometheus has their own alerting system with metric based. (https://prometheus.io/docs/practices/alerting/)

[2018-11-08 06:52] #637 closed

[2018-11-08 06:58] #290 closed

[2018-11-08 06:59] #297 closed

[2018-11-08 07:54] Charleslee522 commented on #592
This is resolved in #632

[2018-11-08 07:54] #592 closed

[2018-11-08 07:56] Charleslee522 commented on #625
@spikeekips Is this urgent issue? If not, I want to handle https://github.com/bosnet/sebak/issues/674 and make test about it first.

[2018-11-08 07:58] spikeekips commented on #625
No, it's not. I see.

[2018-11-08 07:59] spikeekips commented on #625
@Charleslee522 We can handle this in next (next?) iteration.

[2018-11-08 07:59] Charleslee522 commented on #625
Oh, that's better!

[2018-11-08 08:19] anarcher commented on #679
We have already the issue  :-) #407

[2018-11-08 08:50] soonkuk opened #687 "Not exporting block height field of block operation."
Currently block operation export block height field.
It is used for calculating unfreezing period.
But to prevent saving height info redundantly, it is recommended that height is exported only in block not in block transaction and in block operation.
So we will change block operation and modify code about calculation of unfreezing period.

[2018-11-08 09:15] soonkuk commented on #294
We will change the format of ricardian contract from markdown to yaml.

[2018-11-08 09:38] #507 closed

[2018-11-08 09:50] outsideris opened #688 "Prevent duplicated proposal"
If we send proposal tx multiple time any reason, all txs will be saved in blocks. Right?
And we don't have any solution to revoke it.

So, sebak should reject proposal duplicated.

[2018-11-08 12:18] anarcher commented on #622
Without persisted txs in the pool, Delayed txs is OK?

[2018-11-08 12:50] anarcher opened #690 "Nodes are stucked when one node are stopped and other node are restarted in 4 nodes."
(just to keep recording)

4 nodes are working for consenues and then I restarted one node of three nodes and I removed one node's storage and start the node.    but each of nodes have  different block height and no more block height...

- 4 nodes worked (4/4)
- node1 was stopped (1/4)
- node2 was stopped and removed the storage of it (this node's height is started from 1) (2/4)
- node2 was started

[2018-11-08 14:20] Charleslee522 commented on #690
You are not wrong :)

[2018-11-08 14:21] Charleslee522 commented on #688
What is proposal tx?? Is that special tx?

[2018-11-08 14:30] spikeekips opened #691 "Replace official json to ffjson for incoming transaction"
JSON is wide spreadex and well known format, so for end user, especially client-side we should support JSON for incoming transaction.

There are so many critics against the performance of Golang's builtin JSON, we can adaopt the ffjson for performance.

[2018-11-08 23:20] Charleslee522 commented on #690
@anarcher I want to know your expecting result :)

[2018-11-09 00:28] Charleslee522 opened #694 "Make alias for genesis account and common account"
I want to call API using genesis account and common account easily.
How about making alias for them like below?
[code]

[2018-11-09 00:52] outsideris commented on #688
Not tx, it is an operation. Sorry.
I meant [congress_voting operation](https://github.com/bosnet/sebak/blob/master/lib/transaction/operation/congress_voting.go).

[2018-11-09 01:05] Charleslee522 commented on #694
or give GENESIS and COMMON account in node_info

[2018-11-09 01:21] outsideris commented on #688
Yes.

[2018-11-09 01:44] Geod24 commented on #622
Delayed ops will have to be saved as well, but they were reverted so it's not a problem ATM.

[2018-11-09 06:20] Charleslee522 opened #698 "Check list among the nodes"
All nodes must check follows among the validators
* Initial Balance
* Genesis Account
* Common Account
* Transactions Limit
* Operations Limit
* Timeouts
* Unfreezing period
* and so on...

[2018-11-09 11:49] #678 closed

[2018-11-10 05:04] spikeekips commented on #690
@anarcher So `2824` is `node2`, right? It looks the syncer did not work as we expected.

[2018-11-10 05:08] anarcher commented on #690
@spikeekips l think that is not changed to sync.

[2018-11-10 05:09] spikeekips commented on #690
@anarcher We should check and find in logs.

[2018-11-10 05:29] spikeekips opened #700 "Testnet failed consensus, one node is stucked"
Our previous testnet was stuck
[code]
The last one, `CfLM...gEUN` was behind.

[2018-11-10 06:04] spikeekips commented on #700
The detailed logs you can find at https://drive.google.com/drive/folders/1PeJ2rOC444IzMm9eS5m1bL1Ly57137QO?usp=sharing .

[2018-11-10 16:10] soonkuk commented on #682
Each operation type has `HasFee()` method to decide the payment of fee and it can be decided permanently.
But `create-account` and `payment` is different.
It's payment of fee is changed according to operation's target or transaction's source.
If those operations is related to frozen account, there is no fee.
But those operations is not related to frozen account, there is a fee.

So I suggest to ma

[2018-11-12 05:12] anarcher commented on #700
[code]

[code]

[2018-11-12 05:49] kfangw opened #703 "TransactionsRoot of Block Header does not contains ProposerTransaction"
https://github.com/bosnet/sebak/blob/ed5458f6df19bd92697b3d5357a48d3035591bd3/lib/block/block.go#L46-L60

Is it intended?

@spikeekips

[2018-11-12 05:56] spikeekips commented on #703
@kfangw Oops, it's important bug. Please patch it.

[2018-11-12 06:32] kfangw opened #704 "Block Header contains Timestamp which is non deterministic"
https://github.com/bosnet/sebak/blob/ed5458f6df19bd92697b3d5357a48d3035591bd3/lib/block/header.go#L23-L32

https://github.com/bosnet/sebak/blob/ed5458f6df19bd92697b3d5357a48d3035591bd3/lib/block/block.go#L46-L60

When the block `Hash` extracted, each node calculated Timestamp based on its own time seed.
It means that the `Hash` may diverse from each other.

If the hash is diverse then, this should

[2018-11-12 07:53] spikeekips commented on #704
I ran the simple code like this,
[code]

The result,
[code]

`rlp` does not encode `time.Time`, so our `Timestamp` does not affect the `block.Hash` :)

[2018-11-12 07:58] kfangw commented on #704
Hence,
A fault(misuse of RLP) prevents a failure(hash mismatch) caused by another fault(timestamp in header).

[2018-11-12 08:01] spikeekips commented on #704
@kfangw @Charleslee522 I agree. We should consider to move `Header.Timestamp` to another place.

[2018-11-12 08:14] #294 closed

[2018-11-12 10:11] spikeekips opened #706 "The balance in `--genesis` does not work"
[code]
Setting balance in `--genesis` option occurs error.

[2018-11-13 05:38] #706 closed

[2018-11-13 09:35] kfangw commented on #704
Is the timestamp in the block header necessary?
`ISAACStateManager` use this field. But, It might be replaced by `confirmed` field which is deterministic.

@Charleslee522 what do you think of this?

[2018-11-13 09:40] Charleslee522 commented on #704
@kfangw The `confirmed` field is made by proposer.
So it is proposer time and it is slightly different with block confirmed time of node itself.
And we don't have time syncing yet(#571). So I figure it's not fit for it.

[2018-11-13 09:43] kfangw commented on #704
@Charleslee522 OK understood the reason. Nevertheless, the timestamp should not be in the header.

[2018-11-13 10:53] kfangw commented on #407
I will work on this as soon as #712 merged.
@zzim2x @outsideris I heard that you guys need this feature.

[2018-11-13 11:37] soonkuk opened #713 "Fix ricardian contract format."
Fix field name and make multi documented yaml.

[2018-11-14 02:44] Charleslee522 commented on #700
fixed in #711

[2018-11-14 02:44] #700 closed

[2018-11-14 02:46] Charleslee522 commented on #680
Does anyone follow this issue?

[2018-11-14 02:47] #674 closed

[2018-11-14 02:54] Charleslee522 commented on #595
If a broadcasting target is ballot, a node have to send ballot to sender when exceeding threshold because sender also should know my ballot state.
If it is the transaction, no more recursive braodcasting because of #641.
@spikeekips Therefore this issue is resolved, am I right? :)

[2018-11-14 05:55] kfangw commented on #459
I take this.

[2018-11-14 07:49] anarcher commented on #548
[code]

[2018-11-14 10:12] anarcher commented on #588
For client api tx limit only, I think that `PoolLimiter` helps for it. like below:
[code]
But TxPool  must be interface.  ㅠㅠ

OR

Add `Pool.AddFromClient(tx Transaction) bool`  with limit checked func.

[2018-11-14 15:46] #390 closed

[2018-11-14 16:11] anarcher commented on #31
Since  #689 is merged, this PR will be closed. :->

[2018-11-14 16:11] #31 closed

[2018-11-14 16:16] anarcher commented on #407
IHMO, If we just have two endpoints , I think it is enough.

- `/blocks`
- `/blocks/:hashOrHeight`

What do you think? :->

[2018-11-15 01:51] outsideris opened #724 "Better error codes and message when sebak has problems"
When sebak has some problems like the consensus is failed or doesn't work, it should return HTTP 500 status code and properly message.
For example, when sebak can not make consensus and can not make new block, it still return 400 error to client like sebak is ok.
I also think it is hard to detect consensus problems but it is helpful for clients to show error messages properly.

[2018-11-15 02:21] spikeekips opened #725 "`UnfreezingPeriod` is statically set in `lib/node/runner/api/account.go`"
https://github.com/bosnet/sebak/blob/28ffd880d06b9e8fbc9b0f735275d0926025adec/lib/node/runner/api/account.go#L237-L243

[2018-11-15 04:02] Charleslee522 commented on #598
This test is still failed sometimes :)

[2018-11-15 04:19] #725 closed

[2018-11-15 04:56] Charleslee522 commented on #598
@spikeekips It fails in https://github.com/bosnet/sebak/pull/720 and data race is occurred. Please check :)
https://circleci.com/gh/Charleslee522/sebak/2762?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-11-15 06:09] kfangw commented on #704
solved by #712

[2018-11-15 06:09] #704 closed

[2018-11-15 06:17] kfangw commented on #703
solved by #712

[2018-11-15 06:17] #703 closed

[2018-11-15 06:20] anarcher opened #729 "Refactoring NodeRunner.Ready()"
`NodeRunner.Ready()` func is too long because of middleware bindings and register handlers...

[2018-11-15 07:16] spikeekips opened #731 "Wrong sorting with the various timezone"
[code]

We make the key by string-based time.

[2018-11-15 08:17] spikeekips commented on #731
This is not a bug, currently we does not use `Transaction.H.Created` in key.

[2018-11-15 08:17] #731 closed

[2018-11-15 08:34] zzim2x commented on #667
if you guys think so, we don't have to make it. We can remove those functions from new explorer.

[2018-11-15 08:38] spikeekips commented on #667
If we need this feature, we can re-open later :)

[2018-11-15 08:38] #667 closed

[2018-11-15 12:39] zzim2x opened #733 "Amount.EncodeRLP is wrong."
#730

I am on my way home. Zzz.

Currently, Amount(10000) is encoded as 0x3130303030.
It should be encoded as 0x853130303030.

0x85 indicates a 5-byte string.

[2018-11-15 12:41] kfangw commented on #733
How did you tested it?

[2018-11-15 12:43] kfangw commented on #733
a.String() returns 0x3130303030. It is normal.
But when rlp encode byte array should be 0x853130303030

[2018-11-15 12:47] zzim2x commented on #733
rlp.Encode(w, a.String())

[2018-11-15 13:12] kfangw commented on #733
Lets figure out the reason tomorrow.

[2018-11-15 15:22] anarcher opened #734 "Watcher node mode"
Watcher will sync the entire data from validator nodes, watch the consensus result (blocks) from validators (WatchConsensus?). and submits transactions to validators.  It can be a guardian to protect validators against DDOS and It can be a load balancer. The watcher node doesn't join a consensus network.
It would be like to figure out how to support `watcher node mode` with sebak.

[2018-11-16 01:00] #83 closed

[2018-11-16 02:07] #496 closed

[2018-11-16 02:08] #32 closed

[2018-11-16 02:09] Charleslee522 commented on #680
#4 can be resolved together.

[2018-11-16 02:11] anarcher commented on #733
Close it :->

[2018-11-16 02:11] #733 closed

[2018-11-16 02:20] outsideris opened #737 "500 error with non numeric amount in transaction"
When I send a transaction, sebak return 500 error.

[code]

`"amount": "NaN"` is wrong vaule by mistake.

This is sebak's response.

[code]

[2018-11-16 02:42] #713 closed

[2018-11-17 02:47] spikeekips opened #747 "Limit total number of operations"
Currently we limit the number of transactions and the number of operations in each transaction. With this limit, we can not control and limit the total operations of each ballot. The number of operations affects the elapsed time to validate and save the ballot, so we should limit the total number of operations.

[2018-11-17 10:20] outsideris opened #749 "500 errors in congress voting transaction"
Request body:

[code]

Response body:

[code]

I'm trying to make correct request body. But it should return `400` error.

[2018-11-17 19:05] dahemmer opened #750 "create_account operation is not included in the get operations for account endpoint"
The TestNet SEBAK API does not include the create_account operation when getting all operations for an account.

The following request for example
https://testnet-sebak.blockchainos.org/api/v1/accounts/GAM2CGWYJRM3FGGKE624KWEWLLT5R7RQWLMS2KHFZ6F5MKOH27JH62FZ/operations

Does not include the following operation
https://testnet-sebak.blockchainos.org/api/v1/transactions/EKxcBdLjtawX2aXJRWAfNkomb6uyk

[2018-11-17 20:28] dahemmer opened #751 "Include the creation date in the operation response data"
Right now the only way to obtain the creation date of an operation, is to make a separate call to the correlated transaction. It would be handy if the creation date would be included in the operation response data. This allows third parties to easily obtain all related operation information in one request.

Example request
https://testnet-sebak.blockchainos.org/api/v1/transactions/ANF9WSAyUnK2Y7cY

[2018-11-18 20:16] neptunix commented on #734
Hi there! Is there any eta for the watch node mode?
We are using it for deposits catching and its great so that we don't have to overload the validators with our requests (we make many - one per each deposit address in a loop...)

[2018-11-19 02:02] outsideris commented on #749
@kfangw

[code]

seed: SCEZWA3V33Z7N4VIMXGO2VI5OBE57RAK3KKWFQ6ONX55WBIVYJNRSZPT
address: GAQBR256HRVCZC43XJHJVQLVWQJBNPRNNKVA7Q3U3W7RCLOS2ZVXSRMB

[2018-11-19 02:10] outsideris commented on #749
When I send voting `start`/`end` as String like:

[code]

Sebak also return 500 error.

[code]

[2018-11-19 02:13] anarcher commented on #734
@neptunix I added `exchange` label. thanks :-)

[2018-11-19 03:48] pavulon18 commented on #649
I am having the exact same issue as @geunwooLIM .

My go version is:
go version go1.7.4 linux/arm

My machine is a Raspberry Pi running Raspbian OS.

[2018-11-19 03:50] spikeekips commented on #751
@kfangw Please consider this issue. We can support the creation time of `BlockOperation` in API level instead of adding new field in `BlockOperation.

[2018-11-19 03:53] kfangw opened #754 "Transaction History appended as immutable rows"
Current Implementation of Transaction History is mutable.
Because every transaction was decidable when it is submitted,
there can exist state like this `submitted` -> `accepted` or `submitted` -> `rejected`

However, for the special payment operation(refund from the frozen account), the validity of the transaction depends on the state of blockchain(unfreezing operation and block height).
It means

[2018-11-19 03:53] kfangw commented on #754
@spikeekips @anarcher @soonkuk
What do you think about this?

[2018-11-19 04:41] soonkuk commented on #754
I think the operation(like as refund from frozen account is not wrong operation.
It is rejected because that operation did not satisfy the condition(unfreezing operation and block height).
So How about add some status like pending.

submitted -> accepted
submitted -> rejected
submitted -> pending -> accepted

[2018-11-19 04:43] kfangw commented on #754
Is pending can exist in BlockChain? @soonkuk

[2018-11-19 04:50] Charleslee522 opened #755 "Nodes can confirm different ballot"
### Background
The order of receive ballot always might be different with the order sent as below(round 2 -> round 1 -> round 3 from a same validator node1).
It's because of network issue or http2server.
As you know, a node always sends a ballot(round:2) after sending a ballot(round:1).

[code]

`B(10, 1)` means a ballot with height 10 and round 1.
The `Sebak` saves ballot with same heights and an

[2018-11-19 05:59] soonkuk commented on #754
@kfangw My opinion is to create a different state because the rejected transaction can not be accepted again.

[2018-11-19 06:06] Geod24 commented on #649
@pavulon18 : Sebak require Go v1.11+
Also, be aware that we haven't tested it on ARM yet, although the code should be portable, I expect you to run out of memory fairly soon.

[2018-11-19 06:12] anarcher commented on #750
I think this issue is related with https://github.com/bosnet/sebak/issues/680

[2018-11-19 07:29] spikeekips opened #757 "Submitting transaction is refused"
https://github.com/bosnet/sebak/blob/13dbe0a17626858b51b61b4dde078554b5597458/lib/node/runner/api_node.go#L133-L135

Situation is,

1. Submit the transaction
1. The API response is 200 ok
1. Checking the transaction in history API, 'rejected'
1. The client can not send transaction any more.

@outsideris reported.

[2018-11-19 07:33] #548 closed

[2018-11-19 07:54] cmcm2222 opened #758 "Paging prev result is not correct."
Wallet developer found out this issue that request to sebak test net as `
https://testnet-sebak.blockchainos.org/api/v1/accounts/GBCBFHI6IYGEQBXJFFQCWQTZDBWDL37ZFOQ3SEPZ77FLEIV2WI6BRG2Z/transactions?limit=5&reverse=true `

Response in prev is like this.
```/api/v1/accounts/GBCBFHI6IYGEQBXJFFQCWQTZDBWDL37ZFOQ3SEPZ77FLEIV2WI6BRG2Z/transactions?cursor=%13GBCBFHI6IYGEQBXJFFQCWQTZDBWDL37ZFOQ3SEPZ77FLEI

[2018-11-19 08:02] kfangw commented on #758
I have no idea which point is not correct

[2018-11-19 08:19] anarcher commented on #758
The current cursor is too long.. Do you have an idea about cursor format is more readable or shorter?

[2018-11-19 08:38] kfangw commented on #758
hum... base64 encoding?

[2018-11-19 08:49] anarcher commented on #758
Our cursor is full index key.  The index contains two parts, One part of this index is a prefix (everything prefixes has the same in a paging. So It can reduce the cursor's size... IMHO).. Is it not right?

[2018-11-19 09:00] spikeekips opened #760 "Valid transaction can be denied"
The rule is simple; valid transaction must be handed over to consensus process. We can think several cases inspite of of this rule.

The most often case will be,

A. User sent valid tx0
A. It is added into TransactionPool
A. Node died with any kind of reasons and resurrected.
A. After long enough time, user notices tx0 is not stored
A. User send tx0 again
A. But node check the hash of tx0 and foun

[2018-11-19 09:23] neptunix opened #761 "Seamless migration to sebak from token net"

[2018-11-19 09:23] #761 closed, assigned to nobody

[2018-11-19 09:35] #588 closed

[2018-11-19 09:39] neptunix opened #762 "Seamless migration to sebak from tokennet"
We'd like to get some recommendations on code migration from tokennet to Sebak.

We are currently using node js Stellar SDK to generate transactions and list payments. As far as we can see sebak-testnet is not compatible with Stellar SDK.

What would be the easiest fay for us to migrate to the new network? Do we have to write our own JS library that implements your sebak API or are there any simpl

[2018-11-19 09:50] outsideris commented on #757
@soonkuk The request body is here.

[code]

[2018-11-19 10:19] anarcher commented on #758
[code]
with limit==5:
[code]
[code]
I think It's OK.

with prev from `limit==5`:
[code]

It looks same `self`'s hashs with `prev`'s hashs.. Is it right?

[2018-11-19 10:22] cmcm2222 commented on #758
@anarcher Yeah that's why wallet dev said like that.
I will mention on this one to him.
thank you so much @anarcher .

[2018-11-19 10:24] Geod24 opened #764 "`pretty` query option for JSON response"
When querying the API, the response is minimalized and hard to read for human.
Certain server/API offer an option to write "pretty" JSON - JSON that is human readable.
While it should be an option (because it uses more bandwidth), it's useful for debugging, and we might want to support it.

[2018-11-19 10:30] anarcher commented on #764
https://httpie.org/ or https://stedolan.github.io/jq/

[2018-11-19 10:37] cmcm2222 commented on #758
I will ask wallet developer tomorrow again.
When everything is clear , I will close this issue myself.
thank you again.  @anarcher  @kfangw

[2018-11-19 10:52] #407 closed

[2018-11-19 10:54] anarcher commented on #758
We need to time to debugging about this issue. `prev` and `self` 's hashes should not same.

[2018-11-19 12:07] outsideris commented on #757
It was my mistake but it is still a bug.

I set up different congress accounts for each node. It was my mistake.

[code]

That's why it is not saved in block.

But interesting part is here. When I set up congress voting account is correctly for all node. Congress voting transaction saved in block successfully, but Node 1 throw error `received new, but known message` and node history is `rejected.